<!-- =====  FOOTER START  ===== -->
<div class="footer pt_60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 footer-block">
                <h6 class="footer-title ptb_20">Danh mục</h6>
                <ul>
                    <li><a th:href="@{/}">Trang chủ</a></li>
                    <li><a th:href="@{'/category?name=Men&page=1&sortField=salePrice&sortDir=asc&pageSize=6'}">Quần áo nam</a></li>
                    <li><a th:href="@{'/category?name=Women&page=1&sortField=salePrice&sortDir=asc&pageSize=6'}">Quần áo nữ</a></li>
                    <li><a th:href="@{/promotion}">Khuyến mãi</a></li>
                    <li><a th:href="@{/contact}">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-md-5 footer-block">
                <h6 class="footer-title ptb_20">Thông tin về chúng tôi</h6>
                <ul>
                    <li>Tâng 4, Tháp C tòa nhà Golden Place, Mẽ Trì, Nam Từ Liêm, Tp.Hà Nộ</li>
                    <li>(+123) 456 789
                        <br> (+024) 666 888
                    </li>
                    <li>hr-monstarlablifetime@gmail.com</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- =====  FOOTER END  ===== -->