<div style="text-align: center">
    <a th:href="@{/admin/user}" class="btn btn-primary uBtn" id="uBtn">Quản lý người dùng</a>
    <a th:href="@{/admin/product}" class="btn btn-primary pBtn" id="pBtn">Quản lý sản phẩm</a>
    <a th:href="@{/admin/orders}" class="btn btn-primary oBtn" id="oBtn">Quản lý đơn hàng</a>
    <a th:href="@{/admin/revenue}" class="btn btn-primary rBtn" id="rBtn">Quản lý doanh thu</a>
</div>
<br>
<div style="text-align: center"><a th:href="@{/}" class="btn btn-success hBtn">Tranh chủ</a></div>