<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- =====  BASIC PAGE NEEDS  ===== -->
    <meta charset="utf-8">
    <title>Danh mục sản phẩm</title>
    <!-- =====  SEO MATE  ===== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="distribution" content="global">
    <meta name="revisit-after" content="2 Days">
    <meta name="robots" content="ALL">
    <meta name="rating" content="8 YEARS">
    <meta name="Language" content="en-us">
    <meta name="GOOGLEBOT" content="NOARCHIVE">
    <!-- =====  MOBILE SPECIFICATION  ===== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">
    <!-- =====  CSS  ===== -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.png}">
</head>

<body>
<!-- =====  LOADER  ===== -->
<!--<div class="loader"></div>-->
<div class="wrapper">
    <th:block th:include="common/header"></th:block>
    <!-- =====  HEADER END  ===== -->
    <!-- =====  CONTAINER START  ===== -->
    <div class="container">
        <div class="row ">
            <div id="column-left" class="col-sm-4 col-lg-3 ">
                <div id="category-menu" class="navbar collapse in mb_40" aria-expanded="true" style="" role="button">
                    <div class="nav-responsive">
                        <div class="heading-part">
                            <h2 class="main_title">Danh mục sản phẩm</h2>
                        </div>
                        <ul class="nav  main-navigation collapse in">
                            <th:block th:each="item : ${categories}">
                                <li>
                                    <a th:href="@{'/category?name=' + ${item.getCategoryName()} + '&page=1&sortField=salePrice&sortDir=asc'}"
                                       th:utext="${item.getCategoryName()}">Appliances</a></li>
                            </th:block>
                        </ul>
                    </div>
                </div>
                <div class="filter left-sidebar-widget mb_50">
                    <div class="heading-part mtb_20 ">
                        <h2 class="main_title">TÌM KIẾM THEO</h2>
                    </div>
                    <div class="filter-block">
                        <p>
                            <label for="amount">Price range:</label>
                            <input type="text" id="amount" readonly>
                        </p>
                        <div id="slider-range" class="mtb_20"></div>
                        <div class="list-group" id="search">
                            <div class="list-group-item mb_10">
                                <label>Màu sắc</label>
                                <div id="filter-group1">
                                    <th:block th:each="item : ${listColor}">
                                        <div class="checkbox">
                                            <label>
                                                <input th:value="${item.key.getId()}" type="checkbox" name="colorId"
                                                       th:utext="${item.key.getColorName()} + ' (' + ${item.value} + ')'"></label>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                            <div class="list-group-item mb_10">
                                <label>Size</label>
                                <div id="filter-group3">
                                    <th:block th:each="item : ${listSize}">
                                        <div class="checkbox">
                                            <label>
                                                <input th:value="${item.key.getId()}" type="checkbox" name="sizeId"
                                                       th:utext="${item.key.getSizeName()} + ' (' + ${item.value} + ')'"></label>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                            <button type="button" class="btn">Tìm kiếm</button>
                        </div>
                    </div>
                </div>
                <div class="left_banner left-sidebar-widget mb_50"><a href="#"><img th:src="@{/images/left1.jpg}"
                                                                                    alt="Left Banner"
                                                                                    class="img-responsive"/></a></div>
            </div>
            <div class="col-sm-8 col-lg-9 mtb_20">
                <div class="category-page-wrapper mb_30">
                    <div class="list-grid-wrapper pull-left">
                        <div class="btn-group btn-list-grid">
                            <button type="button" id="grid-view" class="btn btn-default grid-view active"></button>
                            <button type="button" id="list-view" class="btn btn-default list-view"></button>
                        </div>
                    </div>
                    <div class="page-wrapper pull-right">
                        <label class="control-label" for="input-limit">Show : </label>
                        <div class="limit">
                            <select id="input-limit" class="form-control">
                                <option value="6">06</option>
                                <option value="9">09</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                        <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="sort-wrapper pull-right">
                        <label class="control-label" for="input-sort">Sort By : </label>
                        <div class="sort-inner">
                            <form>
                                <select id="input-sort" class="form-control">
                                    <option value="ASC">Name (A - Z)</option>
                                    <option value="DESC">Name (Z - A)</option>
                                    <option value="ASC">Price (Low &gt; High)</option>
                                    <option value="DESC">Price (High &gt; Low)</option>
                                </select>
                            </form>
                        </div>
                        <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="row">
                    <th:block th:each="item:${listProduct}">
                        <div class="product-layout  product-grid  col-md-4 col-sm-6 col-xs-12 ">
                            <div class="item">
                                <div class="product-thumb clearfix mb_30">
                                    <div class="image product-imageblock"><a href="product_detail_page.html"> <img
                                            data-name="product_image" th:src="@{'/images/product/' + ${item.image}}"
                                            alt="${item.image}" th:title="${item.image}" class="img-responsive"/>
                                    </a>
                                        <div class="button-group text-center">
                                            <div class="quickview"><a href="#"><span>Xem chi tiết</span></a></div>
                                            <div class="add-to-cart"><a href="#"><span>Thêm vào giỏ hàng</span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="caption product-detail text-center">
                                        <h6 data-name="product_name" class="product-name mt_20">
                                            <a href="#" th:title="${item.productName}"
                                               th:utext="${item.productName}"></a>
                                        </h6>
                                        <span class="price">$<span class="amount" th:utext="${item.salePrice}"><span
                                                class="currencySymbol"></span></span></span>
                                        <p class="product-desc mt_20 mb_60" th:utext="${item.description}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
                <div class="pagination-nav text-center mt_50">
                    <ul>
                        <li>
                            <a th:href="@{'/category?name=' + ${cateName} + '&page=1' + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&pageSize=' + ${pageSize}}">First</a>
                        </li>
                        <li th:if="${currentPage gt 1}"><a
                                th:href="@{'/category?name=' + ${cateName} + '&page=' + ${currentPage - 1} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&pageSize=' + ${pageSize}}">
                            <i class="fa fa-angle-left"></i></a></li>
                        <li th:if="${currentPage eq 1}"><a
                                th:href="@{'/category?name=' + ${cateName} + '&page=1' + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&pageSize=' + ${pageSize}}">
                            <i class="fa fa-angle-left"></i></a></li>
                        <th:block th:each="i : ${#numbers.sequence(1, totalPages)}">
                            <li th:if="${currentPage eq i}" class="active">
                                <a th:href="@{'/category?name=' + ${cateName} + '&page=' + ${i} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&pageSize=' + ${pageSize}}">[[${i}]]</a>
                            </li>
                            <li th:unless="${currentPage eq i}">
                                <a th:href="@{'/category?name=' + ${cateName} + '&page=' + ${i} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&pageSize=' + ${pageSize}}">[[${i}]]</a>
                            </li>
                        </th:block>
                        <li th:if="${currentPage lt totalPages}">
                            <a th:href="@{'/category?name=' + ${cateName} + '&page=' + ${currentPage + 1} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&pageSize=' + ${pageSize}}">
                                <i class="fa fa-angle-right"></i></a>
                        </li>
                        <li th:if="${currentPage eq totalPages}">
                            <a th:href="@{'/category?name=' + ${cateName} + '&page=' + ${totalPages} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&pageSize=' + ${pageSize}}">
                                <i class="fa fa-angle-right"></i></a>
                        </li>
                        <li>
                            <a th:href="@{'/category?name=' + ${cateName} + '&page=' + ${totalPages} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&pageSize=' + ${pageSize}}">Last</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="brand_carouse" class="ptb_30 text-center">
                <div class="type-01">
                    <div class="heading-part mb_10 ">
                        <h2 class="main_title">Brand Logo</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="brand owl-carousel ptb_20">
                                <div class="item text-center"><a href="#"><img th:src="@{/images/brand/brand1.png}"
                                                                               alt="Disney" class="img-responsive"/></a>
                                </div>
                                <div class="item text-center"><a href="#"><img th:src="@{/images/brand/brand2.png}"
                                                                               alt="Dell" class="img-responsive"/></a>
                                </div>
                                <div class="item text-center"><a href="#"><img th:src="@{/images/brand/brand3.png}"
                                                                               alt="Harley" class="img-responsive"/></a>
                                </div>
                                <div class="item text-center"><a href="#"><img th:src="@{/images/brand/brand4.png}"
                                                                               alt="Canon" class="img-responsive"/></a>
                                </div>
                                <div class="item text-center"><a href="#"><img th:src="@{/images/brand/brand5.png}"
                                                                               alt="Canon" class="img-responsive"/></a>
                                </div>
                                <div class="item text-center"><a href="#"><img th:src="@{/images/brand/brand6.png}"
                                                                               alt="Canon" class="img-responsive"/></a>
                                </div>
                                <div class="item text-center"><a href="#"><img th:src="@{/images/brand/brand7.png}"
                                                                               alt="Canon" class="img-responsive"/></a>
                                </div>
                                <div class="item text-center"><a href="#"><img th:src="@{/images/brand/brand8.png}"
                                                                               alt="Canon" class="img-responsive"/></a>
                                </div>
                                <div class="item text-center"><a href="#"><img th:src="@{/images/brand/brand9.png}"
                                                                               alt="Canon" class="img-responsive"/></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =====  CONTAINER END  ===== -->
    <!-- =====  FOOTER START  ===== -->
    <th:block th:include="common/footer"></th:block>
    <!-- =====  FOOTER END  ===== -->
</div>
<script th:src="@{/js/jQuery_v3.1.1.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/js/jquery-ui.js}"></script>
<script>
    $(function () {

        $("#input-limit").change(function () {
            sortAndPage();
        });

        $("#input-sort").change(function () {
            sortAndPage();
        });

        function sortAndPage() {
            let url;
            let sortDir = $("#input-sort option:selected").val();
            let sortName = $("#input-sort option:selected").text();
            let pageSize = $("#input-limit option:selected").val();
            sortName = sortName.slice(0, sortName.indexOf("(")).trim();
            if (sortName === "Name") {
                url = "/category?name=" + "[[${cateName}]]" + "&page=1&sortField=productName&sortDir=" + sortDir + "&pageSize=" + pageSize;
            } else if (sortName === "Price") {
                url = "/category?name=" + "[[${cateName}]]" + "&page=1&sortField=salePrice&sortDir=" + sortDir + "&pageSize=" + pageSize;
            }
            window.location = url;
        }

        $("#search > button[type='button']").click(function () {
            let price1 = $('#slider-range').slider("values")[0];
            let price2 = $('#slider-range').slider("values")[1];

            let colorIds = [];
            let sizeIds = [];
            $('input[name="colorId"]:checked').each(function () {
                colorIds.push(this.value);
            });

            $('input[name="sizeId"]:checked').each(function () {
                sizeIds.push(this.value);
            });

            let url = "/search?page=1";
            if ("[[${categoryId}]]" !== "") {
                url += "&categoryId=" + "[[${categoryId}]]";
            }

            if (colorIds.length > 0) {
                url += "&colorIds=" + colorIds.toString().replace(",", ".");
            } else {
                url += "&colorIds=null";
            }

            if (sizeIds.length > 0) {
                url += "&sizeIds=" + sizeIds.toString().replace(",", ".");
            } else {
                url += "&sizeIds=null";
            }

            url += "&price1=" + price1 + "&price2=" + price2 + "&pageSize=" + "[[${pageSize}]]" + "&sortField=salePrice&sortDir=asc";
            window.location = url;
        });

        $("#search-submit").click(function () {
            let keyword = $("#search-input").val();
            if (keyword !== "") {
                window.location = "/search?keyword=" + keyword + "&page=1&pageSize=" + "[[${pageSize}]]" + "&sortField=salePrice&sortDir=asc";
            }
        });


        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 15000,
            values: [0, 15000],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));
    });
</script>
</body>
</html>