<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <!-- =====  BASIC PAGE NEEDS  ===== -->
    <meta charset="utf-8">
    <title>Checkout</title>
    <!-- =====  SEO MATE  ===== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="distribution" content="global">
    <meta name="revisit-after" content="2 Days">
    <meta name="robots" content="ALL">
    <meta name="rating" content="8 YEARS">
    <meta name="Language" content="en-us">
    <meta name="GOOGLEBOT" content="NOARCHIVE">
    <!-- =====  MOBILE SPECIFICATION  ===== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">
    <!-- =====  CSS  ===== -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.jpg}">
</head>

<body onload="showInfoCheckoutPrice()">
<!-- =====  LOADER  ===== -->
<!--<div class="loader"></div>-->
<div class="wrapper">
    <th:block th:include="common/header"></th:block>
    <!-- =====  HEADER END  ===== -->
    <!-- =====  CONTAINER START  ===== -->
    <div class="container">
        <div class="row ">
            <div id="column-left" class="col-sm-4 col-lg-3 hidden-xs">
                <th:block th:include="common/category_menu"></th:block>
            </div>
            <div class="col-sm-8 col-lg-9 mtb_20">
                <form th:action="@{/payment}" method="post" th:object="${order}">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default  ">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion"
                                                           href="#collapseOne">Tùy chọn thanh toán <i
                                        class="fa fa-caret-down"></i></a></h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div th:unless="${session.user}" class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h3>Khách hàng mới</h3>
                                            <p>Tùy chọn thanh toán:</p>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" checked="checked" value="register" name="account"> Đăng ký tài khoản</label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="guest" name="account"> Thanh toán không cần tài khoản</label>
                                            </div>
                                            <p>Bằng cách tạo tài khoản, bạn sẽ có thể mua sắm nhanh hơn, cập nhật tình
                                                trạng đơn hàng và theo dõi các đơn hàng bạn đã thực hiện trước đó.</p>
                                        </div>
                                        <div class="col-sm-6" id="register-account">
                                            <h3>Đã đăng ký tài khoảng</h3>
                                            <p>Tôi là khách hàng cũ</p>
                                            <div class="form-group">
                                                <label for="input-email" class="control-label">E-Mail</label>
                                                <input type="text" class="form-control" id="input-email"
                                                       placeholder="E-Mail" value="" name="email">
                                            </div>
                                            <div class="form-group">
                                                <label for="input-password" class="control-label">Password</label>
                                                <input type="password" class="form-control" id="input-password"
                                                       placeholder="Password" value="" name="password">
                                                <input type="button" class="btn mt_20" data-loading-text="Loading..."
                                                       id="button-login" value="Login">
                                                <a class="pt_30" href="#">Quên mật khẩu</a></div>
                                        </div>
                                        <div class="col-sm-6" id="guest-note">
                                            <h3>Chú ý</h3>
                                            <p>Vì bạn không đăng ký tài khoản trên hệ thống,
                                                Cửa hàng sẽ gọi điện cho bạn để thực hiện một số xác nhận và yêu cầu một
                                                số thủ tục trước khi giao hàng</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${session.user}" class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h3>Xin chào : <strong th:utext="${session.user.getFullName()}"></strong></h3>
                                        <p>Hãy điền đầy đủ thông tin vào các bước tiếp theo trước khi thanh toán:</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default ">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Thông tin đơn
                                        hàng
                                        <i class="fa fa-caret-down"></i></a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <th:block th:if="${session.user}">
                                        <div>
                                            <label th:utext="${session.user.getFullName()}"></label>
                                            <label>Tên người nhận: </label>
                                            <input class="form-control" th:value="${session.user.getFullName()}" id="reciverName" name="reciverName"/>
                                        </div>
                                        <br/>
                                        <div id="phone">
                                            <label>Số điện thoại liên hệ: </label>
                                            <input class="form-control" th:value="${session.user.getPhone()}" id="phone" name="phone"/>
                                        </div>
                                        <br/>

                                        <label>Địa chỉ giao hàng: </label><br>
                                        <div class="radio">
                                            <label>
                                                <input checked="checked" type="radio" value="existing" name="shipping_address"> Tôi muốn sử dụng địa chỉ hiện tại
                                            </label>
                                            <br/>
                                            <label>
                                                <input type="radio" value="new" name="shipping_address"> Tôi mốn sử dụng địa chỉ mới
                                            </label>
                                        </div>
                                        <div id="shipping-existing">
                                            <input class="form-control" th:value="${session.user.getAddress()}" id="address" name="address"/>
                                        </div>
                                        <div id="shipping-new">
                                            <input class="form-control" id="address" name="address"/>
                                        </div>
                                    </th:block>
                                    <th:block th:unless="${session.user}">
                                        <div>
                                            <label>Tên người nhận: </label><input class="form-control" th:field="*{reciverName}"/>
                                        </div>
                                        <br/>
                                        <div id="phone">
                                            <label>Số điện thoại liên hệ: </label><input class="form-control" th:field="*{phone}"/>
                                        </div>
                                        <br>
                                        <label>Địa chỉ giao hàng: </label><br>
                                        <div id="shipping-address">
                                            <input class="form-control" th:field="*{address}"/>
                                        </div>
                                    </th:block>
                                    <br/>

                                    <label><strong>Loại hình giao hàng</strong></label>
                                    <div class="radio">
                                        <label><input type="radio" checked="checked" id="slow-method" value="slow"
                                                      th:field="*{deliveryMethod}"> Giao hàng tiêu chuẩn - $1000</label><br/>
                                        <label><input type="radio" id="flash-method" value="flash" th:field="*{deliveryMethod}"> Giao hàng
                                            nhanh - $2000</label>
                                    </div>
                                    <br>

                                    <label><strong>Phương thức thanh toán</strong></label>
                                    <p>Vui lòng chọn phương thức thanh toán ưa thích để sử dụng cho đơn đặt hàng
                                        này.</p>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" checked="checked" value="cod" id="cod"
                                                   name="payment_method" th:field="*{paymentMethod}">
                                            Thanh toán khi giao hàng
                                        </label>
                                    </div>
                                    <br>

                                    <div>
                                        <p><strong>Thêm ghi chú cho đơn hàng này</strong></p>
                                        <p>
                                            <textarea class="form-control" rows="8" name="comment"
                                                      th:field="*{note}"></textarea>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default ">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapsesix">Xác nhân đơn
                                        hàng <i class="fa fa-caret-down"></i></a></h4>
                            </div>
                            <div id="collapsesix" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <td colspan="2" class="text-center">Sản phẩm</td>
                                                <td class="text-center">Số lượng</td>
                                                <td class="text-center">Đơn giá</td>
                                                <td class="text-center">Tổng</td>
                                            </tr>
                                            </thead>
                                            <tbody th:if="${session.cart}" th:each="item : ${session.cart}">
                                            <tr>
                                                <td class="text-center">
                                                    <a th:href="@{'product/' + ${item.getKey()} + '/detail'}">
                                                        <img style="max-height: 70px;"
                                                             th:src="@{'/images/product/' + ${item.getValue().getProductDetail().getImage()}}"
                                                             alt="iPod Classic" title="iPod Classic">
                                                    </a>
                                                </td>
                                                <td class="text-center">
                                                    <a th:href="@{'product/' + ${item.getKey()} + '/detail'}"
                                                       th:utext="${item.getValue().getProductDetail().getProduct().getProductName()}">Sony
                                                        VAIO</a>
                                                    <p>
                                                        <span><strong>Màu sắc : </strong></span>
                                                        <span th:utext="${item.getValue().getProductDetail().getProductColor().getColorName()}"></span>
                                                    </p>
                                                    <p>
                                                        <span><strong>Size : </strong></span>
                                                        <span th:utext="${item.getValue().getProductDetail().getProductSize().getSizeName()}"></span>
                                                    </p>
                                                </td>
                                                <td class="text-center" th:utext="${item.getValue().getQuantitiesProduct()}">
                                                </td>
                                                <td class="text-center">
                                                    <th:block th:if="${item.getValue().getProductDetail().getProduct().getPromotion()}">
                                                        <p style="font-size: 15px; font-weight: 500; color: black;" th:utext="${item.getValue().getProductDetail().getProduct().getSalePriceDiscount()}"></p>
                                                        <p>
                                                            <span style="text-decoration: line-through;" th:utext="${item.getValue().getProductDetail().getProduct().getSalePrice()}"></span> <span>đ</span>
                                                            |
                                                            <span>- </span><span style="font-weight: 500; color: black;" th:utext="${item.getValue().getProductDetail().getProduct().getPromotion().getDiscount() * 100}"></span><span>%</span>
                                                        </p>
                                                    </th:block>
                                                    <th:block th:enless="${item.getValue().getProductDetail().getProduct().getPromotion()}">
                                                        <p style="font-size: 15px; font-weight: 500; color: black;" th:utext="${item.getValue().getProductDetail().getProduct().getSalePrice()}"></p>
                                                    </th:block>
                                                </td>
                                                <td class="text-right" style="font-size: 15px;"
                                                    th:utext="${item.getValue().getTotalProductPay()}"><span>đ</span></td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td class="text-right" colspan="4"><strong>Tổng các mặt hàng:</strong>
                                                </td>
                                                <td class="text-right" id="total-cart"></td>
                                            </tr>
                                            <tr>
                                                <td class="text-right" colspan="4"><strong>Chi phí vận chuyển:</strong>
                                                </td>
                                                <td class="text-right" id="delevery-price"></td>
                                            </tr>
                                            <tr>
                                                <td class="text-right" colspan="4"><strong>VAT(5%):</strong></td>
                                                <td class="text-right" id="vat"></td>
                                            </tr>
                                            <tr>
                                                <td class="text-right" colspan="4"><strong>Tổng thanh toán:</strong>
                                                </td>
                                                <td class="text-right" id="total-pay"></td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="buttons">
                                        <div class="pull-left">
                                            <a th:href="@{/cart}" class="btn">Thay đổi</a>
                                        </div>
                                    </div>
                                    <div class="buttons">
                                        <div class="pull-right">
                                            <input type="button" data-loading-text="Loading..." class="btn"
                                                   id="button-confirm" value="Xác nhận đơn hàng">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="final-order" style="display: none;">
                        <button type="submit" class="btn">Đặt hàng</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- =====  CONTAINER END  ===== -->
    <!-- =====  FOOTER START  ===== -->
    <th:block th:include="common/footer"></th:block>
    <!-- =====  FOOTER END  ===== -->
</div>
<div class="chatB">
    <button class="open-chatbox" onclick="openForm()" id="chat">Chat</button>
    <div class="Chatbox" id="chatBoxForm">
        <form action="" class="form-container">
            <h1><img th:src="@{/images/chatbox.png}" style="width:50px;height:50px"/>Chat with us</h1>
            <label for="msg"><b>We are here to help you!</b></label>
            <textarea placeholder="Input message..." id="msg" name="msg" required></textarea>
            <button type="submit" class="btn">Send</button>
            <button type="button" class="btn close-chatbox" onclick="closeForm()">Close</button>
        </form>
    </div>
</div>
<script>
    /*Open chatbox*/
    function openForm() {
        document.getElementById("chatBoxForm").style.display = "block";
        document.getElementById("chat").style.display = "none";
    }

    /*Close chat box*/
    function closeForm() {
        document.getElementById("chatBoxForm").style.display = "none";
        document.getElementById("chat").style.display = "block";
    }
</script>
<script th:src="@{/js/jQuery_v3.1.1.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script type="text/javascript">
    $('input[name=\'payment_address\']').on('change', function () {
        if (this.value == 'new') {
            $('#payment-existing').hide();
            $('#payment-new').show();
        } else {
            $('#payment-existing').show();
            $('#payment-new').hide();
        }
    });

    $('input[name=\'shipping_address\']').on('change', function () {
        if (this.value == 'new') {
            $('#shipping-existing').hide();
            $('#shipping-new').show();
        } else {
            $('#shipping-existing').show();
            $('#shipping-new').hide();
        }
    });

    $('#button-confirm').click(function () {
        $('#final-order').css('display', 'block');
    });

    function showInfoCheckoutPrice() {
        if ($("input[name='account']:checked").val() === "register") {
            $("#register-account").show();
            $("#guest-note").hide();
        } else {
            $("#register-account").hide();
            $("#guest-note").show();
        }
        $("#shipping-new").hide();
        $("#slow-method").prop('checked', true);
        $("#cod").prop('checked', true);
        $("#total-cart").text("[[${#numbers.formatDecimal(session.totalPay, 1,'COMMA',0,'POINT')}]]");
        $("#delevery-price").text("[[${#numbers.formatDecimal(flashShipPrice, 1,'COMMA',0,'POINT')}]]");
        $("#vat").text("[[${#numbers.formatDecimal(session.totalPay*0.05, 1,'COMMA',0,'POINT')}]]");
        $("#total-pay").text("[[${#numbers.formatDecimal(session.totalPay + session.totalPay*0.05 + flashShipPrice, 1,'COMMA',0,'POINT')}]]");
    }

    $("input[name='deliveryMethod']").on('click', function () {
        if ($("input[name='deliveryMethod']:checked").val() === "flash") {
            $("#delevery-price").text("[[${#numbers.formatDecimal(flashShipPrice, 1,'COMMA',0,'POINT')}]]");
            $("#total-pay").text("[[${#numbers.formatDecimal(session.totalPay + session.totalPay*0.05 + flashShipPrice, 1,'COMMA',0,'POINT')}]]");
        }
        if ($("input[name='deliveryMethod']:checked").val() === "slow") {
            $("#delevery-price").text("[[${#numbers.formatDecimal(slowShipPrice, 1,'COMMA',0,'POINT')}]]");
            $("#total-pay").text("[[${#numbers.formatDecimal(session.totalPay + session.totalPay*0.05 + slowShipPrice, 1,'COMMA',0,'POINT')}]]");
        }
    });

    $("input[name='account']").on('click', function () {
        if ($("input[name='account']:checked").val() === "register") {
            $("#register-account").show();
            $("#guest-note").hide();
        }
        if ($("input[name='account']:checked").val() === "guest") {
            $("#register-account").hide();
            $("#guest-note").show();
        }
    });


</script>
</body>

</html>