<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <!-- =====  BASIC PAGE NEEDS  ===== -->
    <meta charset="utf-8">
    <title>Contact</title>
    <!-- =====  SEO MATE  ===== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="distribution" content="global">
    <meta name="revisit-after" content="2 Days">
    <meta name="robots" content="ALL">
    <meta name="rating" content="8 YEARS">
    <meta name="Language" content="en-us">
    <meta name="GOOGLEBOT" content="NOARCHIVE">
    <!-- =====  MOBILE SPECIFICATION  ===== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">
    <!-- =====  CSS  ===== -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.png}">
</head>

<body>
<!-- =====  LOADER  ===== -->
<!--<div class="loader"></div>-->
<div class="wrapper">
    <th:block th:include="common/header"></th:block>
    <!-- =====  HEADER END  ===== -->
    <!-- =====  CONTAINER START  ===== -->
    <div class="container">
        <div class="row ">
            <!-- =====  BANNER STRAT  ===== -->
<!--            <div class="col-sm-12">-->
<!--                <div class="breadcrumb ptb_20">-->
<!--                    <h1>Contact Us</h1>-->
<!--                    <ul>-->
<!--                        <li><a href="index.html">Home</a></li>-->
<!--                        <li class="active">Contact Us</li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
            <!-- =====  BREADCRUMB END===== -->
            <div id="column-left" class="col-sm-4 col-lg-3 hidden-xs">
                <div id="category-menu" class="navbar collapse in mb_40" aria-expanded="true" style="" role="button">
                    <div class="nav-responsive">
                        <div class="heading-part">
                            <h2 class="main_title">Top category</h2>
                        </div>
                        <ul class="nav  main-navigation collapse in">
                            <li><a href="#">Appliances</a></li>
                            <li><a href="#">Mobile Phones</a></li>
                            <li><a href="#">Tablet PC & Accessories</a></li>
                            <li><a href="#">Consumer Electronics</a></li>
                            <li><a href="#">Computers & Networking</a></li>
                            <li><a href="#">Electrical & Tools</a></li>
                            <li><a href="#">Apparel</a></li>
                            <li><a href="#">Bags & Shoes</a></li>
                            <li><a href="#">Toys & Hobbies</a></li>
                            <li><a href="#">Watches & Jewelry</a></li>
                            <li><a href="#">Home & Garden</a></li>
                            <li><a href="#">Health & Beauty</a></li>
                            <li><a href="#">Outdoors & Sports</a></li>
                        </ul>
                    </div>
                </div>
                <div class="left_banner left-sidebar-widget mt_30 mb_40"><a href="#"><img
                        src="../static/images/left1.jpg" alt="Left Banner" class="img-responsive"/></a></div>
            </div>
            <div class="col-sm-8 col-lg-9 mtb_20">
                <!-- contact  -->
                <div class="row">
                    <div class="col-md-4 col-xs-12 contact">
                        <div class="location mb_50">
                            <h5 class="capitalize mb_20"><strong>Our Location</strong></h5>
<!--                            <div class="address">Office address-->
<!--                                <br> 124,Lorem Ipsum has been-->
<!--                                <br> text ever since the 1500-->
<!--                            </div>-->
<!--                            <div class="call mt_10"><i class="fa fa-phone" aria-hidden="true"></i>+91-9987-654-321</div>-->
                        </div>
                        <div class="Career mb_50">
                            <h5 class="capitalize mb_20"><strong>Careers</strong></h5>
<!--                            <div class="address">dummy text ever since the 1500s, simply dummy text of the typesetting-->
<!--                                industry.-->
<!--                            </div>-->
<!--                            <div class="email mt_10"><i class="fa fa-envelope" aria-hidden="true"></i><a-->
<!--                                    href="mailto:careers@yourdomain.com" target="_top">careers@yourdomain.com</a></div>-->
                        </div>
                        <div class="Hello mb_50">
                            <h5 class="capitalize mb_20"><strong>Say Hello</strong></h5>
<!--                            <div class="address">simply dummy text of the printing and typesetting industry.</div>-->
<!--                            <div class="email mt_10"><i class="fa fa-envelope" aria-hidden="true"></i><a-->
<!--                                    href="mailto:info@yourdomailname.com" target="_top">info@yourdomailname.com</a>-->
<!--                            </div>-->
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12 contact-form mb_50">
                        <!-- Contact FORM -->
                        <div id="contact_form">
                            <form id="contact_body" method="post" action="contact_me.php">
                                <!--                                <label class="full-with-form" ><span>Name</span></label>
              -->
                                <input class="full-with-form " type="text" name="name" placeholder="Name"
                                       data-required="true"/>
                                <!--                <label class="full-with-form" ><span>Email Address</span></label>
              -->
                                <input class="full-with-form  mt_30" type="email" name="email"
                                       placeholder="Email Address" data-required="true"/>
                                <!--                <label class="full-with-form" ><span>Phone Number</span></label>
              -->
                                <input class="full-with-form  mt_30" type="text" name="phone1"
                                       placeholder="Phone Number" maxlength="15" data-required="true"/>
                                <!--                <label class="full-with-form" ><span>Subject</span></label>
              -->
                                <input class="full-with-form  mt_30" type="text" name="subject" placeholder="Subject"
                                       data-required="true">
                                <!--                                <label class="full-with-form" ><span>Attachment</span></label>
              -->
                                <!--                                <label class="full-with-form" ><span>Message</span></label>
              -->
                                <textarea class="full-with-form  mt_30" name="message" placeholder="Message"
                                          data-required="true"></textarea>
                                <button class="btn mt_30" type="submit">Send Message</button>
                            </form>
                            <div id="contact_results"></div>
                        </div>
                        <!-- END Contact FORM -->
                    </div>
                </div>
<!--                &lt;!&ndash; map  &ndash;&gt;-->
<!--                <div class="row">-->
<!--                    <div class="col-xs-12 map mb_80">-->
<!--                        <div id="map"></div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>
<!-- Single Blog  -->
<!-- End Blog   -->
<!-- =====  CONTAINER END  ===== -->
<!-- =====  FOOTER START  ===== -->
<th:block th:include="common/footer"></th:block>
<!-- =====  FOOTER END  ===== -->
<div class="chatB">
    <button class="open-chatbox" onclick="openForm()" id="chat">Chat</button>
    <div class="Chatbox" id="chatBoxForm">
        <form action="" class="form-container">
            <h1><img src="../static/images/chatbox.png" style="width:50px;height:50px"/>Chat with us</h1>
            <label for="msg"><b>We are here to help you!</b></label>
            <textarea placeholder="Input message..." id="msg" name="msg" required></textarea>
            <button type="submit" class="btn">Send</button>
            <button type="button" class="btn close-chatbox" onclick="closeForm()">Close</button>
        </form>
    </div>
</div>
<script>
    /*Open chatbox*/
function openForm() {
  document.getElementById("chatBoxForm").style.display = "block";
  document.getElementById("chat").style.display = "none";
}
/*Close chat box*/
function closeForm() {
  document.getElementById("chatBoxForm").style.display = "none";
  document.getElementById("chat").style.display = "block";
}
</script>
<script src="../static/js/jQuery_v3.1.1.min.js"></script>
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.magnific-popup.js"></script>
<script src="../static/js/custom.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT3mI0RI16q19Oxv93gSxN0cF0wfxWN6w">
</script>
<script src="../static/js/map.js"></script>
<script src="../static/js/mail.js"></script>
</body>

</html>