<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- =====  BASIC PAGE NEEDS  ===== -->
    <meta charset="utf-8">
    <title>Home Page</title>
    <!-- =====  SEO MATE  ===== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="distribution" content="global">
    <meta name="revisit-after" content="2 Days">
    <meta name="robots" content="ALL">
    <meta name="rating" content="8 YEARS">
    <meta name="Language" content="en-us">
    <meta name="GOOGLEBOT" content="NOARCHIVE">
    <!-- =====  MOBILE SPECIFICATION  ===== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">
    <!-- =====  CSS  ===== -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.png}">
</head>

<body>
<!-- =====  LOADER  ===== -->
<!--<div class="loader"></div>-->
<div class="wrapper">
    <div id="subscribe-me" class="modal animated fade in" role="dialog" data-keyboard="true" tabindex="-1">
        <div class="newsletter-popup"><img class="offer" th:src="@{/images/newsbg.jpg}" alt="offer">
            <div class="newsletter-popup-static newsletter-popup-top">
                <div class="popup-text">
                    <div class="popup-title">50% <span>off</span></div>
                    <div class="popup-desc">
                        <div>Sign up and get 50% off your next Order</div>
                    </div>
                </div>
                <form onsubmit="return  validatpopupemail();" method="post">
                    <div class="form-group required">
                        <input type="email" name="email-popup" id="email-popup" placeholder="Enter Your Email"
                               class="form-control input-lg" required/>
                        <button type="submit" class="btn btn-default btn-lg" id="email-popup-submit">Subscribe</button>
                        <label class="checkme">
                            <input type="checkbox" value="" id="checkme"/> Don't show again</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <th:block th:include="common/header"></th:block>
    <div class="container banner mt_20">
        <div class="main-banner owl-carousel">
            <div class="item"><a href="#"><img th:src="@{/images/main_banner1.jpg}" alt="Main Banner"
                                               class="img-responsive"/></a></div>
            <div class="item"><a href="#"><img th:src="@{/images/main_banner2.jpg}" alt="Main Banner"
                                               class="img-responsive"/></a></div>
        </div>
    </div>
    <!-- =====  BANNER END  ===== -->
    <!-- =====  CONTAINER START  ===== -->
    <div class="container">
        <!-- =====  SUB BANNER  START ===== -->
        <div class="row">
            <div class="cms_banner mt_10">
                <div class="col-xs-4 mt_10">
                    <div class="card text-center">
                        <div class="card-body">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text.</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 mt_10">
                    <div class="card text-center">
                        <div class="card-body">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text.</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 mt_10">
                    <div class="card text-center">
                        <div class="card-body">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text.</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- =====  SUB BANNER END  ===== -->
        <div class="row ">
            <div class="col-sm-12 mtb_10">
                <!-- =====  PRODUCT TAB  ===== -->
                <div id="product-tab" class="mt_50">
                    <div class="heading-part mb_10 ">
                        <h2 class="main_title">SẢN PHẢM HOT</h2>
                    </div>
                    <ul class="nav text-right">
                        <li class="active"><a href="#top-women" data-toggle="tab">NỮ</a></li>
                        <li><a href="#top-men" data-toggle="tab">NAM</a></li>
                    </ul>
                    <div class="tab-content clearfix box">
                        <div class="tab-pane active" id="top-women">
                            <div class="nArrivals owl-carousel">
                                <th:block th:each="product : ${productWomen}">
                                    <div class="product-grid">
                                        <div class="item">
                                            <div class="product-thumb">
                                                <div class="image product-imageblock">
                                                    <a href="product_detail_page.html">
                                                        <img data-name="product_image"
                                                             th:src="@{'/images/product/' + ${product.image}}"
                                                             alt="iPod Classic"
                                                             title="iPod Classic" class="img-responsive">
                                                        <img th:src="@{/images/product/product9-1.jpg}"
                                                             alt="iPod Classic"
                                                             title="iPod Classic" class="img-responsive">
                                                    </a>

                                                    <div class="button-group text-center">
                                                        <div class="wishlist"><a href="#"><span>View detail</span></a>
                                                        </div>
                                                        <div class="add-to-cart"><a
                                                                href="#"><span>Add to cart</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="caption product-detail text-center">
                                                    <h6 data-name="product_name" class="product-name">
                                                        <a href="#" title="Casual Shirt With Ruffle Hem"
                                                           th:utext="${product.productName}">Product name</a>
                                                    </h6>
                                                    <span class="price">
                                                            <span class="amount" th:utext="${product.salePrice}">
                                                                <span class="currencySymbol">$</span>
                                                            </span>
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                        <div class="tab-pane" id="top-men">
                            <div class="Bestsellers owl-carousel">
                                <th:block th:each="product : ${productMen}">
                                    <div class="product-grid">
                                        <div class="item">
                                            <div class="product-thumb">
                                                <div class="image product-imageblock">
                                                    <a href="product_detail_page.html">
                                                        <img data-name="product_image"
                                                             th:src="@{'/images/product/' + ${product.image}}"
                                                             alt="iPod Classic"
                                                             title="iPod Classic" class="img-responsive">
                                                        <img th:src="@{/images/product/product9-1.jpg}"
                                                             alt="iPod Classic"
                                                             title="iPod Classic" class="img-responsive">
                                                    </a>

                                                    <div class="button-group text-center">
                                                        <div class="wishlist"><a href="#"><span>View detail</span></a>
                                                        </div>
                                                        <div class="add-to-cart"><a
                                                                href="#"><span>Add to cart</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="caption product-detail text-center">
                                                    <h6 data-name="product_name" class="product-name">
                                                        <a href="#" title="Casual Shirt With Ruffle Hem"
                                                           th:utext="${product.productName}">Product name</a>
                                                    </h6>
                                                    <span class="price">
                                                            <span class="amount" th:utext="${product.salePrice}">
                                                                <span class="currencySymbol">$</span>
                                                            </span>
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- =====  PRODUCT TAB  END ===== -->

                <!-- =====  SUB BANNER  START ===== -->
                <div class="row">
                    <div class="cms_banner mt_50">
                        <div class="col-sm-12 mt_10">
                            <div id="subbanner3" class="sub-hover">
                                <div class="sub-img"><a href="#"><img th:src="@{/images/sub6.jpg}" alt="Sub Banner3"
                                                                      class="img-responsive"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- =====  SUB BANNER END  ===== -->
            </div>
        </div>
    </div>
    <!-- =====  CONTAINER END  ===== -->

    <!-- =====  FOOTER START  ===== -->
    <th:block th:include="common/footer"></th:block>
    <!-- =====  FOOTER END  ===== -->
</div>

<script th:src="@{/js/jQuery_v3.1.1.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.js}"></script>
<script th:src="@{/js/jquery.firstVisitPopup.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>
<script>
    $("#search-submit").click(function () {
        let keyword = $("#search-input").val();
        if(keyword !== "") {
            window.location = "/search?keyword=" + keyword + "&page=1&pageSize=6&sortField=salePrice&sortDir=asc";
        }
    });
</script>
</html>