<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <!-- =====  BASIC PAGE NEEDS  ===== -->
    <meta charset="utf-8">
    <title>Account</title>
    <!-- =====  SEO MATE  ===== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="distribution" content="global">
    <meta name="revisit-after" content="2 Days">
    <meta name="robots" content="ALL">
    <meta name="rating" content="8 YEARS">
    <meta name="Language" content="en-us">
    <meta name="GOOGLEBOT" content="NOARCHIVE">
    <!-- =====  MOBILE SPECIFICATION  ===== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">
    <!-- =====  CSS  ===== -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.png}">
</head>

<body>
<!-- =====  LOADER  ===== -->
<!--<div class="loader"></div>-->
<div class="wrapper">
    <div id="subscribe-me" class="modal animated fade in" role="dialog" data-keyboard="true" tabindex="-1">
        <div class="newsletter-popup"><img class="offer" src="../static/images/newsbg.jpg" alt="offer">
            <div class="newsletter-popup-static newsletter-popup-top">
                <div class="popup-text">
                    <div class="popup-title">50% <span>off</span></div>
                    <div class="popup-desc">
                        <div>Sign up and get 50% off your next Order</div>
                    </div>
                </div>
                <form onsubmit="return  validatpopupemail();" method="post">
                    <div class="form-group required">
                        <input type="email" name="email-popup" id="email-popup" placeholder="Enter Your Email"
                               class="form-control input-lg" required/>
                        <button type="submit" class="btn btn-default btn-lg" id="email-popup-submit">Subscribe</button>
                        <label class="checkme">
                            <input type="checkbox" value="" id="checkme"/> Don't show again</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <th:block th:include="common/header"></th:block>
    <!-- =====  HEADER END  ===== -->
    <!-- =====  CONTAINER START  ===== -->
    <div class="container">
        <div class="row">
            <div id="column-left" class="col-sm-4 col-lg-3 hidden-xs">
                <div id="category-menu" class="navbar collapse in mb_40" aria-expanded="true" style="" role="button">
                    <div class="nav-responsive">
                        <div class="heading-part">
                            <h2 class="main_title">Full name's Account</h2>
                        </div>
                        <ul class="nav  main-navigation collapse in">
                            <li><a href="my_account">Information Account</a></li>
                            <li><a href="my_notice">My Notice</a></li>
                            <li><a href="My_order">Order Management</a></li>
                        </ul>
                    </div>
                </div>
                <div class="left_banner left-sidebar-widget mt_30 mb_40"><a href="#"><img
                        src="../static/images/left1.jpg" alt="Left Banner" class="img-responsive"/></a></div>
            </div>
            <div class="col-sm-8 col-lg-9 mtb_20">
                <!-- contact  -->
                <div class="row">
                    <div class="col-md-9 col-md-offset-1">
                        <div class="panel-login panel">
                            <div class="panel-heading" style="font-size:20px;">
                                <b>Information Account</b>
                                <hr>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form id="information-form" action="#" method="post">
                                            <div class="form-group">
                                                Full name: <input type="text" name="fullname" id="fullname" tabindex="1"
                                                                  class="form-control" value="">
                                            </div>
                                            <div class="form-group">
                                                Number phone: <input type="tel" name="phone" id="phone" tabindex="2"
                                                                     class="form-control" value="">
                                            </div>
                                            <div class="form-group">
                                                Email: <input type="email" name="email" id="email" tabindex="3"
                                                              class="form-control" value="">
                                            </div>
                                            <div class="form-group">
                                                Address: <input type="text" name="add" id="add" tabindex="4"
                                                                class="form-control" value="">
                                            </div>
                                            <div class="form-group">
                                                Sex:
                                                <input type="radio" id="male" name="gender" value="male" tabindex="5">
                                                <label for="male">Male</label>
                                                <input type="radio" id="female" name="gender" value="female"
                                                       tabindex="6">
                                                <label for="female">Female</label>
                                                <input type="radio" id="other" name="gender" value="other" tabindex="7">
                                                <label for="other">Other</label>
                                            </div>
                                            <div class="form-group">
                                                Birthday: <input type="date" name="birthday" id="birthday" tabindex="8"
                                                                 class="form-control" value="">
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" tabindex="9" class="" name="change"
                                                       id="change">
                                                <label for="change">Change Password</label>
                                            </div>
                                            <div id="changePassword" style="display: none">
                                                <form id="change-password" action="#" method="post"
                                                      style="display: none">
                                                    <div class="form-group">
                                                        Old Password: <input type="password" name="oldPassword"
                                                                             id="oldPassword" tabindex="10"
                                                                             class="form-control" value="">
                                                    </div>
                                                    <div class="form-group">
                                                        New Password: <input type="password" name="newPassword"
                                                                             id="newPassword"
                                                                             tabindex="11"
                                                                             class="form-control"
                                                                             placeholder="Password has 6 to 32 characters"
                                                                             value="">
                                                    </div>
                                                    <div class="form-group">
                                                        Confirm Password: <input type="password" name="confirmPassword"
                                                                                 id="confirmPassword" tabindex="12"
                                                                                 class="form-control"
                                                                                 placeholder="Input new password again"
                                                                                 value="">
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-3">
                                                        <input type="submit" name="login-submit" id="login-submit"
                                                               tabindex="4" class="form-control btn btn-login"
                                                               value="Update">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Blog  -->
<!-- End Blog   -->
<!-- =====  CONTAINER END  ===== -->
<!-- =====  FOOTER START  ===== -->
<th:block th:include="common/footer"></th:block>
<!-- =====  FOOTER END  ===== -->
<div class="chatB">
    <button class="open-chatbox" onclick="openForm()" id="chat">Chat</button>
    <div class="Chatbox" id="chatBoxForm">
        <form action="" class="form-container">
            <h1><img src="../static/images/chatbox.png" style="width:50px;height:50px"/>Chat with us</h1>
            <label for="msg"><b>We are here to help you!</b></label>
            <textarea placeholder="Input message..." id="msg" name="msg" required></textarea>
            <button type="submit" class="btn">Send</button>
            <button type="button" class="btn close-chatbox" onclick="closeForm()">Close</button>
        </form>
    </div>
</div>
<script>
    /*Open chatbox*/
function openForm() {
  document.getElementById("chatBoxForm").style.display = "block";
  document.getElementById("chat").style.display = "none";
}
/*Close chat box*/
function closeForm() {
  document.getElementById("chatBoxForm").style.display = "none";
  document.getElementById("chat").style.display = "block";
}
</script>
<script src="../static/js/jQuery_v3.1.1.min.js"></script>
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.magnific-popup.js"></script>
<script src="../static/js/custom.js"></script>
<script>
    $(document).ready(function() {
        $('input[type="checkbox"]').click(function() {
            $("#changePassword").toggle();
        });
    });


</script>
</body>
</html>