<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <!-- =====  BASIC PAGE NEEDS  ===== -->
    <meta charset="utf-8">
    <title>Account</title>
    <!-- =====  SEO MATE  ===== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="distribution" content="global">
    <meta name="revisit-after" content="2 Days">
    <meta name="robots" content="ALL">
    <meta name="rating" content="8 YEARS">
    <meta name="Language" content="en-us">
    <meta name="GOOGLEBOT" content="NOARCHIVE">
    <!-- =====  MOBILE SPECIFICATION  ===== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">
    <!-- =====  CSS  ===== -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.png}">
</head>

<body>
<!-- =====  LOADER  ===== -->
<!--<div class="loader"></div>-->
<div class="wrapper">
    <div id="subscribe-me" class="modal animated fade in" role="dialog" data-keyboard="true" tabindex="-1">
        <div class="newsletter-popup"><img class="offer" th:src="@{/images/newsbg.jpg}" alt="offer">
            <div class="newsletter-popup-static newsletter-popup-top">
                <div class="popup-text">
                    <div class="popup-title">50% <span>off</span></div>
                    <div class="popup-desc">
                        <div>Sign up and get 50% off your next Order</div>
                    </div>
                </div>
                <form onsubmit="return  validatpopupemail();" method="post">
                    <div class="form-group required">
                        <input type="email" name="email-popup" id="email-popup" placeholder="Enter Your Email"
                               class="form-control input-lg" required/>
                        <button type="submit" class="btn btn-default btn-lg" id="email-popup-submit">Subscribe</button>
                        <label class="checkme">
                            <input type="checkbox" value="" id="checkme"/> Don't show again</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <th:block th:include="common/header"></th:block>
    <!-- =====  HEADER END  ===== -->
    <!-- =====  CONTAINER START  ===== -->
    <div class="container">
        <div class="row">
            <div id="column-left" class="col-sm-4 col-lg-3 hidden-xs">
                <div id="category-menu" class="navbar collapse in mb_40" aria-expanded="true" style="" role="button">
                    <div class="nav-responsive">
                        <div class="heading-part">
                            <h2 class="main_title">Full name's Account</h2>
                        </div>
                        <ul class="nav  main-navigation collapse in">
                            <li><a th:href="@{/my_account}">Information Account</a></li>
                            <li><a th:href="@{/my_account}">My Notice</a></li>
                            <li><a th:href="@{/order_history}">Order Management</a></li>
                        </ul>
                    </div>
                </div>
                <div class="left_banner left-sidebar-widget mt_30 mb_40"><a href="#"><img
                        th:src="@{/images/left1.jpg}" alt="Left Banner" class="img-responsive"/></a></div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="common/footer"></th:block>
<a id="scrollup"></a>
<script th:src="@{/js/jQuery_v3.1.1.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.js}"></script>
<script th:src="@{/js/jquery.firstVisitPopup.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/js/editInfo.js}"></script>
<script>
    $(document).ready(function() {
        $('input[type="checkbox"]').click(function() {
        if( document.getElementById("change").checked == true){
            $("#changePassword").show();
        } else $("#changePassword").hide();
        });
    });

</script>
</body>
</html>