<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <!-- =====  BASIC PAGE NEEDS  ===== -->
    <meta charset="utf-8">
    <title>Thanh toán</title>
    <!-- =====  SEO MATE  ===== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="distribution" content="global">
    <meta name="revisit-after" content="2 Days">
    <meta name="robots" content="ALL">
    <meta name="rating" content="8 YEARS">
    <meta name="Language" content="en-us">
    <meta name="GOOGLEBOT" content="NOARCHIVE">
    <!-- =====  MOBILE SPECIFICATION  ===== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">
    <!-- =====  CSS  ===== -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.png}">
</head>

<body>
<!-- =====  LOADER  ===== -->
<!--<div class="loader"></div>-->
<div class="wrapper">
    <div id="subscribe-me" class="modal animated fade in" role="dialog" data-keyboard="true" tabindex="-1">
        <div class="newsletter-popup"><img class="offer" th:src="@{/images/newsbg.jpg}" alt="offer">
            <div class="newsletter-popup-static newsletter-popup-top">
                <div class="popup-text">
                    <div class="popup-title">50% <span>off</span></div>
                    <div class="popup-desc">
                        <div>Sign up and get 50% off your next Order</div>
                    </div>
                </div>
                <form onsubmit="return  validatpopupemail();" method="post">
                    <div class="form-group required">
                        <input type="email" name="email-popup" id="email-popup" placeholder="Enter Your Email"
                               class="form-control input-lg" required/>
                        <button type="submit" class="btn btn-default btn-lg" id="email-popup-submit">Subscribe</button>
                        <label class="checkme">
                            <input type="checkbox" value="" id="checkme"/> Don't show again</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <th:block th:include="common/header"></th:block>
    <!-- =====  HEADER END  ===== -->
    <!-- =====  CONTAINER START  ===== -->
    <div class="container">
        <div class="row ">
            <div id="column-left" class="col-sm-4 col-lg-3 hidden-xs">
                <th:block th:include="common/category_menu"></th:block>
                <div class="left_banner left-sidebar-widget mb_50 mt_30">
                    <a href="#"><img th:src="@{/images/left1.jpg}" alt="Left Banner" class="img-responsive"/></a>
                </div>
            </div>
            <div class="col-sm-8 col-lg-9 mtb_20">
                <div class="text-center">
                    <p><i class="fa fa-check-circle fa-10x" aria-hidden="true"></i></p>
                    <h3 style="color: #4cae4c">Bạn đã đặt hàng thành công, theo dõi đơn hàng của mình tại mục quản lý đơn hàng</h3>
                    <button class="btn center-pill mt_30">
                        <a th:href="@{/}" style="color: white;">Quay về trang chủ</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- =====  CONTAINER END  ===== -->
    <!-- =====  FOOTER START  ===== -->
    <th:block th:include="common/footer"></th:block>
    <!-- =====  FOOTER END  ===== -->
</div>
<div class="chatB">
    <button class="open-chatbox" onclick="openForm()" id="chat">Chat</button>
    <div class="Chatbox" id="chatBoxForm">
        <form action="" class="form-container">
            <h1><img th:src="@{/images/chatbox.png}" style="width:50px;height:50px"/>Chat with us</h1>
            <label for="msg"><b>We are here to help you!</b></label>
            <textarea placeholder="Input message..." id="msg" name="msg" required></textarea>
            <button type="submit" class="btn">Send</button>
            <button type="button" class="btn close-chatbox" onclick="closeForm()">Close</button>
        </form>
    </div>
</div>
<a id="scrollup"></a>
<script>

    /*Open chatbox*/
    function openForm() {
        document.getElementById("chatBoxForm").style.display = "block";
        document.getElementById("chat").style.display = "none";
    }

    /*Close chat box*/
    function closeForm() {
        document.getElementById("chatBoxForm").style.display = "none";
        document.getElementById("chat").style.display = "block";
    }
</script>
<script th:src="@{/js/jQuery_v3.1.1.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>
</html>