<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <!-- =====  BASIC PAGE NEEDS  ===== -->
    <meta charset="utf-8">
    <title>Account</title>
    <!-- =====  SEO MATE  ===== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="distribution" content="global">
    <meta name="revisit-after" content="2 Days">
    <meta name="robots" content="ALL">
    <meta name="rating" content="8 YEARS">
    <meta name="Language" content="en-us">
    <meta name="GOOGLEBOT" content="NOARCHIVE">
    <!-- =====  MOBILE SPECIFICATION  ===== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">
    <!-- =====  CSS  ===== -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap4.min.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.png}">
</head>

<body>
<div class="wrapper">
    <th:block th:include="common/header"></th:block>
    <!-- =====  HEADER END  ===== -->
    <!-- =====  CONTAINER START  ===== -->
    <div class="container">
        <div class="row">
            <div id="column-left" class="col-sm-4 col-lg-3 hidden-xs">
                <div id="category-menu" class="navbar collapse in mb_40" aria-expanded="true" style="" role="button">
                    <div class="nav-responsive">
                        <div class="heading-part">
                            <h2 class="main_title">
                                Quản lý tài khoản
                            </h2>
                        </div>
                        <ul class="nav  main-navigation collapse in">
                            <li><a th:href="@{/my_account}">Thông tin tài khoản</a></li>
                            <li><a th:href="@{/order_history}">Lịch sử mua hàng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-lg-9 mtb_20">
                <div class="row">
                    <div class="col-md-9 col-md-offset-1" style="width: 100%; margin-left: 1%;">
                        <h1 style="text-align:center;">Danh sách đơn hàng</h1>
                        <div>
                            <table id="tableOrder" class="table table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th>Mã đơn hàng</th>
                                    <th>Ngày mua</th>
                                    <th>Tổng tiền</th>
                                    <th>Trạng thái</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="order :${orders}">
                                    <td><a th:href="@{/detail_order/{id}(id=${order.id})}" th:text="${order.id}"></a>
                                    </td>
                                    <td th:text="${order.orderDate}"></td>
                                    <td th:text="${order.totalPay}"></td>
                                    <td th:if="${order.status}==0">Đang chờ xử lý</td>
                                    <td th:if="${order.status}==1">Đang giao</td>
                                    <td th:if="${order.status}==2">Đã giao</td>
                                    <td th:if="${order.status}==3">Đã hủy</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="common/footer"></th:block>
<a id="scrollup"></a>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/js/jquery-3.5.1.js}"></script>
<script th:src="@{/js/jQuery_v3.1.1.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.js}"></script>
<script th:src="@{/js/jquery.firstVisitPopup.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script>
    $(document).ready(function() {
        $('input[type="checkbox"]').click(function() {
        if( document.getElementById("change").checked == true){
            $("#changePassword").show();
        } else $("#changePassword").hide();
        });
    });
    $(document).ready(function() {
        $('#tableOrder').dataTable({});
    });

</script>
</body>
</html>