<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- =====  BASIC PAGE NEEDS  ===== -->
    <meta charset="utf-8">
    <title>Product Detail</title>
    <!-- =====  SEO MATE  ===== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="distribution" content="global">
    <meta name="revisit-after" content="2 Days">
    <meta name="robots" content="ALL">
    <meta name="rating" content="8 YEARS">
    <meta name="Language" content="en-us">
    <meta name="GOOGLEBOT" content="NOARCHIVE">
    <!-- =====  MOBILE SPECIFICATION  ===== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">
    <!-- =====  CSS  ===== -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.jpg}">
</head>

<body onload="getAmountOfProductAvailable()">
<!-- =====  LOADER  ===== -->
<!--<div class="loader"></div>-->
<div class="wrapper">
    <th:block th:include="common/header"></th:block>
    <!-- =====  HEADER END  ===== -->
    <!-- =====  CONTAINER START  ===== -->
    <div class="container">
        <div class="row ">
            <div id="column-left" class="col-sm-4 col-lg-3 hidden-xs">
                <th:block th:include="common/category_menu"></th:block>
                <div class="left_banner left-sidebar-widget mt_30 mb_40">
                    <a href="#"><img th:src="@{/images/left1.jpg}" alt="Left Banner" class="img-responsive"/></a>
                </div>
                <div class="left-special left-sidebar-widget mb_50">
                    <div class="heading-part mb_10 ">
                        <h2 class="main_title">Top Products</h2>
                    </div>
                    <div id="left-special" class="owl-carousel">
                        <ul class="row ">
                            <li class="item product-layout-left mb_20">
                                <div class="product-list col-xs-4">
                                    <div class="product-thumb">
                                        <div class="image product-imageblock"><a href="product_detail.html"> <img
                                                class="img-responsive" title="iPod Classic" alt="iPod Classic"
                                                th:src="@{/images/product/product3.jpg}">
                                            <img class="img-responsive" title="iPod Classic" alt="iPod Classic"
                                                 th:src="@{/images/product/product3-1.jpg}">
                                        </a></div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="caption product-detail">
                                        <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a>
                                        </h6>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-x"></i></span>
                                        </div>
                                        <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span></span>
                                    </div>
                                </div>
                            </li>
                            <li class="item product-layout-left mb_20">
                                <div class="product-list col-xs-4">
                                    <div class="product-thumb">
                                        <div class="image product-imageblock"><a href="product_detail.html"> <img
                                                class="img-responsive" title="iPod Classic" alt="iPod Classic"
                                                th:src="@{/images/product/product4.jpg}"> <img class="img-responsive"
                                                                                               title="iPod Classic"
                                                                                               alt="iPod Classic"
                                                                                               th:src="@{/images/product/product4-1.jpg}">
                                        </a></div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="caption product-detail">
                                        <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a>
                                        </h6>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-x"></i></span>
                                        </div>
                                        <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                                    </div>
                                </div>
                            </li>
                            <li class="item product-layout-left mb_20">
                                <div class="product-list col-xs-4">
                                    <div class="product-thumb">
                                        <div class="image product-imageblock"><a href="product_detail.html"> <img
                                                class="img-responsive" title="iPod Classic" alt="iPod Classic"
                                                th:src="@{/images/product/product5.jpg}"> <img class="img-responsive"
                                                                                               title="iPod Classic"
                                                                                               alt="iPod Classic"
                                                                                               th:src="@{/images/product/product5-1.jpg}">
                                        </a></div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="caption product-detail">
                                        <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a>
                                        </h6>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-x"></i></span>
                                        </div>
                                        <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="row ">
                            <li class="item product-layout-left mb_20">
                                <div class="product-list col-xs-4">
                                    <div class="product-thumb">
                                        <div class="image product-imageblock"><a href="product_detail.html"> <img
                                                class="img-responsive" title="iPod Classic" alt="iPod Classic"
                                                th:src="@{/images/product/product6.jpg}"> <img class="img-responsive"
                                                                                               title="iPod Classic"
                                                                                               alt="iPod Classic"
                                                                                               th:src="@{/images/product/product6-1.jpg}">
                                        </a></div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="caption product-detail">
                                        <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a>
                                        </h6>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-x"></i></span>
                                        </div>
                                        <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                                    </div>
                                </div>
                            </li>
                            <li class="item product-layout-left mb_20">
                                <div class="product-list col-xs-4">
                                    <div class="product-thumb">
                                        <div class="image product-imageblock"><a href="product_detail.html"> <img
                                                class="img-responsive" title="iPod Classic" alt="iPod Classic"
                                                th:src="@{/images/product/product7.jpg}"> <img class="img-responsive"
                                                                                               title="iPod Classic"
                                                                                               alt="iPod Classic"
                                                                                               th:src="@{/images/product/product7-1.jpg}">
                                        </a></div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="caption product-detail">
                                        <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a>
                                        </h6>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-x"></i></span>
                                        </div>
                                        <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                                    </div>
                                </div>
                            </li>
                            <li class="item product-layout-left mb_20">
                                <div class="product-list col-xs-4">
                                    <div class="product-thumb">
                                        <div class="image product-imageblock"><a href="product_detail.html"> <img
                                                class="img-responsive" title="iPod Classic" alt="iPod Classic"
                                                th:src="@{/images/product/product1.jpg}"> <img class="img-responsive"
                                                                                               title="iPod Classic"
                                                                                               alt="iPod Classic"
                                                                                               th:src="@{/images/product/product1-1.jpg}">
                                        </a></div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="caption product-detail">
                                        <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a>
                                        </h6>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-x"></i></span>
                                        </div>
                                        <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="row ">
                            <li class="item product-layout-left mb_20">
                                <div class="product-list col-xs-4">
                                    <div class="product-thumb">
                                        <div class="image product-imageblock"><a href="product_detail.html">
                                            <img class="img-responsive" title="iPod Classic" alt="iPod Classic" th:src="@{/images/product/product2.jpg}">
                                            <img class="img-responsive" title="iPod Classic" alt="iPod Classic" th:src="@{/images/product/product2-1.jpg}">
                                        </a></div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="caption product-detail">
                                        <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a>
                                        </h6>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-x"></i></span>
                                        </div>
                                        <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                                    </div>
                                </div>
                            </li>
                            <li class="item product-layout-left mb_20">
                                <div class="product-list col-xs-4">
                                    <div class="product-thumb">
                                        <div class="image product-imageblock"><a href="product_detail.html"> <img
                                                class="img-responsive" title="iPod Classic" alt="iPod Classic"
                                                th:src="@{/images/product/product3.jpg}"> <img class="img-responsive"
                                                                                               title="iPod Classic"
                                                                                               alt="iPod Classic"
                                                                                               th:src="@{/images/product/product3-1.jpg}">
                                        </a></div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="caption product-detail">
                                        <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a>
                                        </h6>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-x"></i></span>
                                        </div>
                                        <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                                    </div>
                                </div>
                            </li>
                            <li class="item product-layout-left mb_20">
                                <div class="product-list col-xs-4">
                                    <div class="product-thumb">
                                        <div class="image product-imageblock"><a href="product_detail.html"> <img
                                                class="img-responsive" title="iPod Classic" alt="iPod Classic"
                                                th:src="@{/images/product/product4.jpg}"> <img class="img-responsive"
                                                                                               title="iPod Classic"
                                                                                               alt="iPod Classic"
                                                                                               th:src="@{/images/product/product4-1.jpg}">
                                        </a></div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="caption product-detail">
                                        <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a>
                                        </h6>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-x"></i></span>
                                        </div>
                                        <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-lg-9 mtb_20">
                <div class="row mt_10 ">
                    <div class="col-md-6">
                        <th:block th:if="${product}" th:object="${product}">
                            <div>
                                <a class="thumbnails">
                                    <img data-name="product_image_detail"
                                         th:src="@{'/images/product/' + ${product.image}}" alt=""/>
                                </a>
                            </div>
                            <div id="product-thumbnail" class="owl-carousel">
                                <div class="item" th:each="item : ${images}">
                                    <div class="image-additional">
                                        <a th:attr="data-colorId=${item.getKey()}" class="thumbnail"
                                           th:href="@{'/images/product/' + ${item.getValue()}}" data-fancybox="group1">
                                            <img th:src="@{'/images/product/' + ${item.getValue()}}" alt=""/>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </th:block>
                    </div>
                    <div class="col-md-6 prodetail caption product-thumb" style="margin-top: 15px;">
                        <th:block th:if="${product}" th:object="${product}">
                            <h4 data-name="product_name" class="product-name">
                                <a th:href="@{'/product/' + ${product.getId()} + '/detail'}"
                                   th:utext="*{productName}"></a>
                            </h4>
                            <div class="rating">
                                <label>Ratting : </label><label>4.5</label><label>/5</label>
                            </div>
                            <span class="price mb_20">
                                <th:block th:if="${product.getSalePriceDiscount() > 0}">
                                    <span style="font-size: 25px; line-height: 40px; margin-right: 8px;" class="amount"><span
                                            class="currencySymbol">$</span><span
                                            th:utext="${product.getSalePriceDiscount()}"></span></span>
                                    <span style="margin-right: 10px; text-decoration: line-through; font-size: 14px; line-height: 20px;"
                                          class="amount"><span class="currencySymbol">$</span><span
                                            th:utext="*{salePrice}"></span></span>
                                    <span style="font-size: 14px; line-height: 20px;"><span
                                            th:utext="*{promotion.getDiscount() * 100}"></span><span>%</span></span>
                                </th:block>
                                <th:block th:unless="${product.getSalePriceDiscount() > 0}">
                                    <span style="font-size: 25px; line-height: 40px; margin-right: 8px;" class="amount">
                                        <span class="currencySymbol">$</span>
                                        <span th:utext="*{salePrice}"></span>
                                    </span>
                                </th:block>
                        </span>
                            <hr>
                            <p class="product-desc mtb_30" th:utext="*{description}"></p>
                            <div id="product">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="Sort-by col-md-6">
                                            <label>Chọn Màu : </label>
                                            <select name="product_color" id="select-by-color"
                                                    class="selectpicker form-control">
                                                <th:block th:if="${productColors}" th:each="item : ${productColors}">
                                                    <option th:value="${item.id}" th:utext="${item.colorName}"></option>
                                                </th:block>
                                            </select>
                                        </div>
                                        <div class="Color col-md-6">
                                            <label>Chọn kích cỡ : </label>
                                            <select name="product_size" id="select-by-size"
                                                    class="selectpicker form-control">
                                                <th:block th:if="${productSizes}" th:each="item : ${productSizes}">
                                                    <option th:value="${item.id}" th:utext="${item.sizeName}"></option>
                                                </th:block>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="qty mt_30 form-group2">
                                    <span>
                                        <label>Số lượng</label>
                                        <input name="product_quantity" min="1" max="10" value="1" type="number">
                                    </span>
                                    <span id="sold-out" style="margin-left: 20px;font-size: 15px;color: red;">Sản phẩm đã bán hết!</span>
                                </div>
                                <div id="quantity_available" class="qty mt_30 form-group2" style="display: none;">
                                    <label>Chỉ còn lại : </label>
                                    <span></span>
                                </div>
                                <div class="button-group mt_30">
                                    <button type="button" id="add-cart" class="add-to-cart"></button>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="exTab5" class="mtb_30">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#1c" data-toggle="tab">Mô tả chi tiết</a></li>
                                <li><a href="#2c" data-toggle="tab">Nhận xet (1)</a></li>
                            </ul>
                            <div class="tab-content ">
                                <div class="tab-pane active" id="1c">
                                    <th:block th:if="${product}" th:object="${product}">
                                    <p th:utext="${product.getDescription()}"></p>
                                    </th:block>
                                </div>

                                <div class="tab-pane" id="2c">
                                    <form class="form-horizontal" th:action="@{/postReview}" th:object="${oneReview}" method="post">
                                        <div id="review"></div>
                                        <h4 class="mt_20 mb_30">Write a review</h4>
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label class="control-label" for="title">Tiêu đề</label>
                                                <input th:field="*{title}" id="title" class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label class="control-label" for="comment">Nội dung</label>
                                                <textarea th:field="*{comment}" rows="5" id="comment" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <div class="col-md-6">
                                                <label class="control-label">Rating</label>
                                                <div class="rates">
                                                    <span>Bad</span>
                                                    <input th:field="*{ratting}" value="1" type="radio">
                                                    <input th:field="*{ratting}" value="2" type="radio">
                                                    <input th:field="*{ratting}" value="3" type="radio">
                                                    <input th:field="*{ratting}" value="4" type="radio">
                                                    <input th:field="*{ratting}" value="5" type="radio">
                                                    <span>Good</span></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="buttons pull-right">
                                                    <button type="submit" class="btn btn-md btn-link">Bình luận</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <th:block th:if="${product}">
                                        <div class="list-review">
                                            <h4>Các bình luận về sản phẩm</h4>
                                            <ul th:each="review : ${product.getReviews()}">
                                                <li class="review-item" th:attr="data-id_comment=${review.getId()}">
                                                    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
                                                        <div class="col-md-12">
                                                            <div class="review-user">
                                                                <div style="float: left; border-radius: 10px;" class="review-avater">
                                                                    <img src="#" alt="Image">
                                                                </div>
                                                                <div style="margin-left: 10px;float: left;">
                                                                    <h5 class="user-name" th:utext="${review.getUser().getFullName()}"></h5>
                                                                    <p class="comment-date" th:utext="${review.getCreatedAt()}"></p>
                                                                </div>
                                                                <div style="float: right">
                                                                    Đánh giá : <label class="ratting" th:utext="${review.getRatting()}"></label><label>/5</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="review-des" style="margin-top: 10px;">
                                                                <p class="title"><strong th:utext="${review.getTitle()}"></strong></p>
                                                                <div class="review-content">
                                                                    <span th:utext="${review.getComment()}"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <hr/>
                                            </ul>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-part text-center mb_10">
                            <h2 class="main_title mt_50">Related Products</h2>
                        </div>
                        <div class="related_pro box">
                            <div class="product-layout  product-grid related-pro  owl-carousel mb_50 ">
                                <div class="item">
                                    <div class="product-thumb">
                                        <div class="image product-imageblock"><a href="product_detail.html"> <img
                                                data-name="product_image" th:src="@{/images/product/product7.jpg}"
                                                alt="iPod Classic" title="iPod Classic" class="img-responsive"> <img
                                                th:src="@{/images/product/product7-1.jpg}" alt="iPod Classic"
                                                title="iPod Classic" class="img-responsive"> </a>
                                            <div class="button-group text-center">
                                                <div class="wishlist"><a href="#"><span>wishlist</span></a></div>
                                                <div class="quickview"><a href="#"><span>Quick View</span></a></div>
                                                <div class="compare"><a href="#"><span>Compare</span></a></div>
                                                <div class="add-to-cart"><a href="#"><span>Add to cart</span></a></div>
                                            </div>
                                        </div>
                                        <div class="caption product-detail text-center">
                                            <h6 data-name="product_name" class="product-name mt_20"><a href="#"
                                                                                                       title="Casual Shirt With Ruffle Hem">New
                                                LCDScreen and HD Video Recording</a></h6>
                                            <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-x"></i></span>
                                            </div>
                                            <span class="price"><span class="amount"><span
                                                    class="currencySymbol">$</span>70.00</span>
                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="product-thumb">
                                        <div class="image product-imageblock"><a href="product_detail.html"> <img
                                                data-name="product_image" th:src="@{/images/product/product8.jpg}"
                                                alt="iPod Classic" title="iPod Classic" class="img-responsive"> <img
                                                th:src="@{/images/product/product8-1.jpg}" alt="iPod Classic"
                                                title="iPod Classic" class="img-responsive"> </a>
                                            <div class="button-group text-center">
                                                <div class="wishlist"><a href="#"><span>wishlist</span></a></div>
                                                <div class="quickview"><a href="#"><span>Quick View</span></a></div>
                                                <div class="compare"><a href="#"><span>Compare</span></a></div>
                                                <div class="add-to-cart"><a href="#"><span>Add to cart</span></a></div>
                                            </div>
                                        </div>
                                        <div class="caption product-detail text-center">
                                            <h6 data-name="product_name" class="product-name mt_20"><a href="#"
                                                                                                       title="Casual Shirt With Ruffle Hem">New
                                                LCDScreen and HD Video Recording</a></h6>
                                            <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-x"></i></span>
                                            </div>
                                            <span class="price"><span class="amount"><span
                                                    class="currencySymbol">$</span>70.00</span>
                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="product-thumb">
                                        <div class="image product-imageblock"><a href="product_detail.html"> <img
                                                data-name="product_image" th:src="@{/images/product/product9.jpg}"
                                                alt="iPod Classic" title="iPod Classic" class="img-responsive"> <img
                                                th:src="@{/images/product/product9-1.jpg}" alt="iPod Classic"
                                                title="iPod Classic" class="img-responsive"> </a>
                                            <div class="button-group text-center">
                                                <div class="wishlist"><a href="#"><span>wishlist</span></a></div>
                                                <div class="quickview"><a href="#"><span>Quick View</span></a></div>
                                                <div class="compare"><a href="#"><span>Compare</span></a></div>
                                                <div class="add-to-cart"><a href="#"><span>Add to cart</span></a></div>
                                            </div>
                                        </div>
                                        <div class="caption product-detail text-center">
                                            <h6 data-name="product_name" class="product-name mt_20"><a href="#"
                                                                                                       title="Casual Shirt With Ruffle Hem">New
                                                LCDScreen and HD Video Recording</a></h6>
                                            <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-x"></i></span>
                                            </div>
                                            <span class="price"><span class="amount"><span
                                                    class="currencySymbol">$</span>70.00</span>
                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =====  CONTAINER END  ===== -->
    <th:block th:include="common/footer"></th:block>
    <!-- =====  FOOTER END  ===== -->
</div>
<div class="chatB">
    <button class="open-chatbox" onclick="openForm()" id="chat">Chat</button>
    <div class="Chatbox" id="chatBoxForm">
        <form action="" class="form-container">
            <h1><img th:src="@{/images/chatbox.jpg}" style="width:50px;height:50px"/>Chat with us</h1>
            <label for="msg"><b>We are here to help you!</b></label>
            <textarea placeholder="Input message..." id="msg" name="msg" required></textarea>
            <button type="submit" class="btn">Send</button>
            <button type="button" class="btn close-chatbox" onclick="closeForm()">Close</button>
        </form>
    </div>
</div>
<a id="scrollup"></a>
<script>
    /*Open chatbox*/
    function openForm() {
        document.getElementById("chatBoxForm").style.display = "block";
        document.getElementById("chat").style.display = "none";
    }

    /*Close chat box*/
    function closeForm() {
        document.getElementById("chatBoxForm").style.display = "none";
        document.getElementById("chat").style.display = "block";
    }
</script>
<script th:src="@{/js/jQuery_v3.1.1.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        $("#select-by-color").change(function () {
            let colorId = $("#select-by-color option:selected").val();
            let url_image = $("a[data-colorId='" + colorId + "']").attr("href");
            $("img[data-name='product_image_detail']").attr('src', url_image);
            getAmountOfProductAvailable();
        });

        $("#select-by-size").change(function () {
            getAmountOfProductAvailable();
        });

        $("#add-cart").click(function () {
            let data = {};
            data.productId = [[${product.getId()}]];
            data.productColorId = $("#select-by-color option:selected").val();
            data.productSizeId = $("#select-by-size option:selected").val();
            data.quantity = $("input[name='product_quantity']").val();
            $.ajax({
                url: "/cart/addCart",
                type: "GET",
                data: data,
                dataType: 'json',
                success: function (result) {
                    if (result.cartSize > 0) {
                        alert("Product is added to cart");
                        $("#cart-size").text("(" + result.cartSize + ")");
                        changeCartHeader(result.itemsCart, result.totalPay);
                    } else {
                        alert("Số lượng không đủ để đáp ứng");
                    }
                },
                error: function (XMLHttpRequest) {
                    alert("Đã có lỗi xảy ra");
                }
            });
        });
    });

    function getAmountOfProductAvailable() {
        let data = {};
        data.productId = [[${product.getId()}]];
        data.producColorId = $("#select-by-color option:selected").val();
        data.productSizeId = $("#select-by-size option:selected").val();
        $.ajax({
            url: "/product/getAmountOfProduct",
            type: "GET",
            data: data,
            dataType: 'json',
            success: function (quantity) {
                if (quantity > 0) {
                    $('#sold-out').css('display', 'none');
                    $('button[id="add-cart"]').prop('disabled', false);
                    if (quantity < 10) {
                        $('#quantity_available').css('display', 'block');
                        $('#quantity_available > span').text(quantity);
                    }
                    $('input[name="product_quantity"]').attr('max', quantity);
                } else {
                    $('#quantity_available').css('display', 'none');
                    $('#sold-out').css('display', 'inline');
                    $('input[name="product_quantity"]').attr('max', 0);
                    $('button[id="add-cart"]').prop('disabled', true);
                }
            },
            error: function (XMLHttpRequest) {
                alert("Đã có lỗi xảy ra");
            }
        });
    }

    function changeCartHeader(itemsCart, totalPay) {
        let totalItemsPay = totalPay;
        let vat = totalPay * 0.05;
        let totalCart = totalItemsPay + vat;

        $("#smal-cart-view").empty();
        let html = "<li>\n" +
            "                                    <table class=\"table table-striped\">";
        jQuery.each(itemsCart, function (index, item) {
            html += "<tr data_productdetail_header=\"" + item.productDetail.product.id + "\">\n" +
                "                                            <td class=\"text-center\">\n" +
                "                                                <a href=\"/product/" + item.productDetail.product.id + "/detail\">\n" +
                "                                                    <img src=\"/images/product/" + item.productDetail.image + "\" alt=\"iPod Classic\" title=\"iPod Classic\" style=\"width: 60px; max-height: 100%;\">\n" +
                "                                                </a>\n" +
                "                                            </td>\n" +
                "                                            <td class=\"text-left product-name\">\n" +
                "                                                <a href=\"/product/" + item.productDetail.product.id + "/detail\">" + item.productDetail.product.productName + "</a>\n" +
                "                                                <p>\n" +
                "                                                    <span><strong>Đơn giá : </strong></span>\n" +
                "                                                    <span class=\"text-left\">" + item.productDetail.product.salePriceDiscount + "<span>đ</span></span>\n" +
                "                                                    <span class=\"text-right\" style=\"margin-left: 5px; text-decoration: line-through;\">" + item.productDetail.product.salePrice + "<span>đ</span></span>\n" +
                "                                                </p>\n" +
                "                                                <p>\n" +
                "                                                    <span><strong>Màu sắc : </strong></span>\n" +
                "                                                    <span>" + item.productDetail.productColor.colorName + "</span>\n" +
                "                                                </p>\n" +
                "                                                <p>\n" +
                "                                                    <span><strong>Size : </strong></span><span>" + item.productDetail.productSize.sizeName + "</span>\n" +
                "                                                </p>\n" +
                "                                                <p>\n" +
                "                                                    <span><strong>Số lượng : </strong></span><span id=\"item-quantity-header\">" + item.quantitiesProduct + "</span>\n" +
                "                                                </p>\n" +
                "                                            </td>\n" +
                "                                        </tr>";
        });
        html += "</table>\n" +
            "</li>" +
            "<li>\n" +
            "                                    <table class=\"table\">\n" +
            "                                        <tbody>\n" +
            "                                        <tr>\n" +
            "                                            <td class=\"text-center\"><strong>Tạm tính:</strong></td>\n" +
            "                                            <td class=\"text-center\"><span id=\"total-items-pay-header\">" + totalItemsPay + "</span><span>đ</span></td>\n" +
            "                                        </tr>\n" +
            "                                        </tbody>\n" +
            "                                    </table>\n" +
            "</li>\n" +
            "<li>\n" +
            "                                    <div style=\"display:flex; justify-content: space-between;\">\n" +
            "                                        <a href=\"/cart\">\n" +
            "                                            <button class=\"btn pull-left mt_10\" type=\"button\">xem giỏ hàng</button>\n" +
            "                                        </a>\n" +
            "                                        <a href=\"/checkout\">\n" +
            "                                            <button class=\"btn pull-right mt_10\" type=\"button\">Checkout</button>\n" +
            "                                        </a>\n" +
            "                                    </div>\n" +
            "                                </li>"
        $("#smal-cart-view").append(html);
    }
    /*]]>*/
</script>
</body>

</html>