<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- =====  BASIC PAGE NEEDS  ===== -->
    <meta charset="utf-8">
    <title>Product Detail</title>
    <!-- =====  SEO MATE  ===== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="distribution" content="global">
    <meta name="revisit-after" content="2 Days">
    <meta name="robots" content="ALL">
    <meta name="rating" content="8 YEARS">
    <meta name="Language" content="en-us">
    <meta name="GOOGLEBOT" content="NOARCHIVE">
    <!-- =====  MOBILE SPECIFICATION  ===== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">
    <!-- =====  CSS  ===== -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.jpg}">
</head>

<body onload="getAmountOfProductAvailable()">
<!-- =====  LOADER  ===== -->
<!--<div class="loader"></div>-->
<div class="wrapper">
    <th:block th:include="common/header"></th:block>
    <!-- =====  HEADER END  ===== -->
    <!-- =====  CONTAINER START  ===== -->
    <div class="container">
        <div class="row ">
            <div id="column-left" class="col-sm-4 col-lg-3 hidden-xs">
                <th:block th:include="common/category_menu"></th:block>
                <div class="left_banner left-sidebar-widget mt_30 mb_40">
                    <a href="#"><img th:src="@{/images/left1.jpg}" alt="Left Banner" class="img-responsive"/></a>
                </div>
                <div class="left-special left-sidebar-widget mb_50">
                    <div class="heading-part mb_10 ">
                        <h2 class="main_title">Top Products</h2>
                    </div>
                    <div id="left-special" class="owl-carousel">
                        <ul class="row ">
                            <li class="item product-layout-left mb_20">
                                <div class="product-list col-xs-4">
                                    <div class="product-thumb">
                                        <div class="image product-imageblock"><a href="product_detail.html"> <img
                                                class="img-responsive" title="iPod Classic" alt="iPod Classic"
                                                th:src="@{/images/product/product3.jpg}">
                                            <img class="img-responsive" title="iPod Classic" alt="iPod Classic"
                                                 th:src="@{/images/product/product3-1.jpg}">
                                        </a></div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="caption product-detail">
                                        <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a>
                                        </h6>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-x"></i></span>
                                        </div>
                                        <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span></span>
                                    </div>
                                </div>
                            </li>
                            <li class="item product-layout-left mb_20">
                                <div class="product-list col-xs-4">
                                    <div class="product-thumb">
                                        <div class="image product-imageblock"><a href="product_detail.html"> <img
                                                class="img-responsive" title="iPod Classic" alt="iPod Classic"
                                                th:src="@{/images/product/product4.jpg}"> <img class="img-responsive"
                                                                                               title="iPod Classic"
                                                                                               alt="iPod Classic"
                                                                                               th:src="@{/images/product/product4-1.jpg}">
                                        </a></div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="caption product-detail">
                                        <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a>
                                        </h6>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-x"></i></span>
                                        </div>
                                        <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                                    </div>
                                </div>
                            </li>
                            <li class="item product-layout-left mb_20">
                                <div class="product-list col-xs-4">
                                    <div class="product-thumb">
                                        <div class="image product-imageblock"><a href="product_detail.html"> <img
                                                class="img-responsive" title="iPod Classic" alt="iPod Classic"
                                                th:src="@{/images/product/product5.jpg}"> <img class="img-responsive"
                                                                                               title="iPod Classic"
                                                                                               alt="iPod Classic"
                                                                                               th:src="@{/images/product/product5-1.jpg}">
                                        </a></div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="caption product-detail">
                                        <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a>
                                        </h6>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-x"></i></span>
                                        </div>
                                        <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="row ">
                            <li class="item product-layout-left mb_20">
                                <div class="product-list col-xs-4">
                                    <div class="product-thumb">
                                        <div class="image product-imageblock"><a href="product_detail.html"> <img
                                                class="img-responsive" title="iPod Classic" alt="iPod Classic"
                                                th:src="@{/images/product/product6.jpg}"> <img class="img-responsive"
                                                                                               title="iPod Classic"
                                                                                               alt="iPod Classic"
                                                                                               th:src="@{/images/product/product6-1.jpg}">
                                        </a></div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="caption product-detail">
                                        <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a>
                                        </h6>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-x"></i></span>
                                        </div>
                                        <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                                    </div>
                                </div>
                            </li>
                            <li class="item product-layout-left mb_20">
                                <div class="product-list col-xs-4">
                                    <div class="product-thumb">
                                        <div class="image product-imageblock"><a href="product_detail.html"> <img
                                                class="img-responsive" title="iPod Classic" alt="iPod Classic"
                                                th:src="@{/images/product/product7.jpg}"> <img class="img-responsive"
                                                                                               title="iPod Classic"
                                                                                               alt="iPod Classic"
                                                                                               th:src="@{/images/product/product7-1.jpg}">
                                        </a></div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="caption product-detail">
                                        <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a>
                                        </h6>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-x"></i></span>
                                        </div>
                                        <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                                    </div>
                                </div>
                            </li>
                            <li class="item product-layout-left mb_20">
                                <div class="product-list col-xs-4">
                                    <div class="product-thumb">
                                        <div class="image product-imageblock"><a href="product_detail.html"> <img
                                                class="img-responsive" title="iPod Classic" alt="iPod Classic"
                                                th:src="@{/images/product/product1.jpg}"> <img class="img-responsive"
                                                                                               title="iPod Classic"
                                                                                               alt="iPod Classic"
                                                                                               th:src="@{/images/product/product1-1.jpg}">
                                        </a></div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="caption product-detail">
                                        <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a>
                                        </h6>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-x"></i></span>
                                        </div>
                                        <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="row ">
                            <li class="item product-layout-left mb_20">
                                <div class="product-list col-xs-4">
                                    <div class="product-thumb">
                                        <div class="image product-imageblock"><a href="product_detail.html"> <img
                                                class="img-responsive" title="iPod Classic" alt="iPod Classic"
                                                th:src="@{/images/product/product2.jpg}"> <img class="img-responsive"
                                                                                               title="iPod Classic"
                                                                                               alt="iPod Classic"
                                                                                               th:src="@{/images/product/product2-1.jpg}">
                                        </a></div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="caption product-detail">
                                        <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a>
                                        </h6>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-x"></i></span>
                                        </div>
                                        <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                                    </div>
                                </div>
                            </li>
                            <li class="item product-layout-left mb_20">
                                <div class="product-list col-xs-4">
                                    <div class="product-thumb">
                                        <div class="image product-imageblock"><a href="product_detail.html"> <img
                                                class="img-responsive" title="iPod Classic" alt="iPod Classic"
                                                th:src="@{/images/product/product3.jpg}"> <img class="img-responsive"
                                                                                               title="iPod Classic"
                                                                                               alt="iPod Classic"
                                                                                               th:src="@{/images/product/product3-1.jpg}">
                                        </a></div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="caption product-detail">
                                        <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a>
                                        </h6>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-x"></i></span>
                                        </div>
                                        <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                                    </div>
                                </div>
                            </li>
                            <li class="item product-layout-left mb_20">
                                <div class="product-list col-xs-4">
                                    <div class="product-thumb">
                                        <div class="image product-imageblock"><a href="product_detail.html"> <img
                                                class="img-responsive" title="iPod Classic" alt="iPod Classic"
                                                th:src="@{/images/product/product4.jpg}"> <img class="img-responsive"
                                                                                               title="iPod Classic"
                                                                                               alt="iPod Classic"
                                                                                               th:src="@{/images/product/product4-1.jpg}">
                                        </a></div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="caption product-detail">
                                        <h6 class="product-name"><a href="#">New LCDScreen and HD Video Recording</a>
                                        </h6>
                                        <div class="rating">
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                    class="fa fa-star fa-stack-x"></i></span>
                                        </div>
                                        <span class="price"><span class="amount"><span class="currencySymbol">$</span>70.00</span>
                      </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-lg-9 mtb_20">
                <div class="row mt_10 ">
                    <div class="col-md-6">
                        <th:block th:if="${product}" th:object="${product}">
                            <div>
                                <a class="thumbnails"><img data-name="product_image"
                                                           th:src="@{'/images/product/' + ${product.image}}"
                                                           alt=""/></a>
                            </div>
                            <div id="product-thumbnail" class="owl-carousel">
                                <div class="item" th:each="item : ${images}">
                                    <div class="image-additional">
                                        <a th:attr="data-colorId=${item.getKey()}" class="thumbnail"
                                           th:href="@{'/images/product/' + ${item.getValue()}}" data-fancybox="group1">
                                            <img th:src="@{'/images/product/' + ${item.getValue()}}" alt=""/>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </th:block>
                    </div>
                    <div class="col-md-6 prodetail caption product-thumb" style="margin-top: 15px;">
                        <th:block th:if="${product}" th:object="${product}">
                            <h4 data-name="product_name" class="product-name" id="productName">
                                <a href="#" th:utext="*{productName}" title="Thông tin sản phẩm" >Product
                                    Name</a>
                            </h4>
                            <br>
                            <!--                            <div class="rating">-->
                            <!--                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i-->
                            <!--                                    class="fa fa-star fa-stack-1x"></i></span>-->
                            <!--                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i-->
                            <!--                                        class="fa fa-star fa-stack-1x"></i></span>-->
                            <!--                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i-->
                            <!--                                        class="fa fa-star fa-stack-1x"></i></span>-->
                            <!--                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i-->
                            <!--                                        class="fa fa-star fa-stack-1x"></i></span>-->
                            <!--                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i-->
                            <!--                                        class="fa fa-star fa-stack-x"></i></span>-->
                            <!--                            </div>-->
                            <span class="price mb_20">
                                <span class="amount"><span class="currencySymbol">$</span><span th:utext="*{salePrice}">70.00</span></span>
                            </span>
                            <hr>
                            <!--                            <ul class="list-unstyled product_info mtb_20">-->
                            <!--                                <li>-->
                            <!--                                    <label>Brand:</label>-->
                            <!--                                    <span> <a href="#">Apple</a></span></li>-->
                            <!--                                <li>-->
                            <!--                                    <label>Product Code:</label>-->
                            <!--                                    <span> product 20</span></li>-->
                            <!--                                <li>-->
                            <!--                                    <label>Availability:</label>-->
                            <!--                                    <span> In Stock</span></li>-->
                            <!--                            </ul>-->
                            <hr>
                            <p class="product-desc mtb_30" th:utext="*{description}"> Mô tả sản phẩm </p>
                            <div id="product">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="Sort-by col-md-6">
                                            <label>Chọn Màu : </label>
                                            <select name="product_color" id="select-by-color"
                                                    class="selectpicker form-control">
                                                <th:block th:if="${productColors}" th:each="item : ${productColors}">
                                                    <option th:value="${item.id}" th:utext="${item.colorName}"></option>
                                                </th:block>
                                            </select>
                                        </div>
                                        <div class="Color col-md-6">
                                            <label>Chọn kích cỡ : </label>
                                            <select name="product_size" id="select-by-size"
                                                    class="selectpicker form-control">
                                                <th:block th:if="${productSizes}" th:each="item : ${productSizes}">
                                                    <option th:value="${item.id}" th:utext="${item.sizeName}"></option>
                                                </th:block>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="qty mt_30 form-group2">
                                    <label>Số lượng</label>
                                    <input id="product_quantity" name="product_quantity" min="1" max="10" value="1" type="number">
                                </div>
                                <div class="qty mt_30 form-group2">
                                    <label>Số sản phẩm còn lại : </label>
                                    <span id="quantity_available"></span>
                                </div>
                                <div class="button-group mt_30">
                                    <div>
                                        <p id="add-cart" class="add-to-cart"></p>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="exTab5" class="mtb_30">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#1c" data-toggle="tab">Overview</a></li>
                                <li><a href="#2c" data-toggle="tab">Reviews (1)</a></li>
                                <li><a href="#3c" data-toggle="tab">Solution</a></li>
                            </ul>
                            <div class="tab-content ">
                                <div class="tab-pane active" id="1c">
                                    <p>CLorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis malesuada
                                        mi id tristique. Sed ipsum nisi, dapibus at faucibus non, dictum a diam. Nunc
                                        vitae interdum diam. Sed finibus, justo vel maximus facilisis, sapien turpis
                                        euismod tellus, vulputate semper diam ipsum vel tellus.</p>
                                </div>
                                <div class="tab-pane" id="2c">
                                    <form class="form-horizontal">
                                        <div id="review"></div>
                                        <h4 class="mt_20 mb_30">Write a review</h4>
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label class="control-label" for="input-name">Your Name</label>
                                                <input name="name" value="" id="input-name" class="form-control"
                                                       type="text">
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label class="control-label" for="input-review">Your Review</label>
                                                <textarea name="text" rows="5" id="input-review"
                                                          class="form-control"></textarea>
                                                <div class="help-block"><span class="text-danger">Note:</span> HTML is
                                                    not translated!
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <div class="col-md-6">
                                                <label class="control-label">Rating</label>
                                                <div class="rates"><span>Bad</span>
                                                    <input name="rating" value="1" type="radio">
                                                    <input name="rating" value="2" type="radio">
                                                    <input name="rating" value="3" type="radio">
                                                    <input name="rating" value="4" type="radio">
                                                    <input name="rating" value="5" type="radio">
                                                    <span>Good</span></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="buttons pull-right">
                                                    <button type="submit" class="btn btn-md btn-link">Continue</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="3c">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis malesuada mi
                                        id tristique. Sed ipsum nisi, dapibus at faucibus non, dictum a diam. Nunc vitae
                                        interdum diam. Sed finibus, justo vel maximus facilisis, sapien turpis euismod
                                        tellus, vulputate semper diam ipsum vel tellus.applied clearfix to the
                                        tab-content to rid of the gap between the tab and the content</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-part text-center mb_10">
                            <h2 class="main_title mt_50">Related Products</h2>
                        </div>
                        <div class="related_pro box">
                            <div class="product-layout  product-grid related-pro  owl-carousel mb_50 ">
                                <div class="item">
                                    <div class="product-thumb">
                                        <div class="image product-imageblock"><a href="product_detail.html"> <img
                                                data-name="product_image" th:src="@{/images/product/product7.jpg}"
                                                alt="iPod Classic" title="iPod Classic" class="img-responsive"> <img
                                                th:src="@{/images/product/product7-1.jpg}" alt="iPod Classic"
                                                title="iPod Classic" class="img-responsive"> </a>
                                            <div class="button-group text-center">
                                                <div class="wishlist"><a href="#"><span>wishlist</span></a></div>
                                                <div class="quickview"><a href="#"><span>Quick View</span></a></div>
                                                <div class="compare"><a href="#"><span>Compare</span></a></div>
                                                <div class="add-to-cart"><a href="#"><span>Add to cart</span></a></div>
                                            </div>
                                        </div>
                                        <div class="caption product-detail text-center">
                                            <h6 data-name="product_name" class="product-name mt_20"><a href="#"
                                                                                                       title="Casual Shirt With Ruffle Hem">New
                                                LCDScreen and HD Video Recording</a></h6>
                                            <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-x"></i></span>
                                            </div>
                                            <span class="price"><span class="amount"><span
                                                    class="currencySymbol">$</span>70.00</span>
                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="product-thumb">
                                        <div class="image product-imageblock"><a href="product_detail.html"> <img
                                                data-name="product_image" th:src="@{/images/product/product8.jpg}"
                                                alt="iPod Classic" title="iPod Classic" class="img-responsive"> <img
                                                th:src="@{/images/product/product8-1.jpg}" alt="iPod Classic"
                                                title="iPod Classic" class="img-responsive"> </a>
                                            <div class="button-group text-center">
                                                <div class="wishlist"><a href="#"><span>wishlist</span></a></div>
                                                <div class="quickview"><a href="#"><span>Quick View</span></a></div>
                                                <div class="compare"><a href="#"><span>Compare</span></a></div>
                                                <div class="add-to-cart"><a href="#"><span>Add to cart</span></a></div>
                                            </div>
                                        </div>
                                        <div class="caption product-detail text-center">
                                            <h6 data-name="product_name" class="product-name mt_20"><a href="#"
                                                                                                       title="Casual Shirt With Ruffle Hem">New
                                                LCDScreen and HD Video Recording</a></h6>
                                            <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-x"></i></span>
                                            </div>
                                            <span class="price"><span class="amount"><span
                                                    class="currencySymbol">$</span>70.00</span>
                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="product-thumb">
                                        <div class="image product-imageblock"><a href="product_detail.html"> <img
                                                data-name="product_image" th:src="@{/images/product/product9.jpg}"
                                                alt="iPod Classic" title="iPod Classic" class="img-responsive"> <img
                                                th:src="@{/images/product/product9-1.jpg}" alt="iPod Classic"
                                                title="iPod Classic" class="img-responsive"> </a>
                                            <div class="button-group text-center">
                                                <div class="wishlist"><a href="#"><span>wishlist</span></a></div>
                                                <div class="quickview"><a href="#"><span>Quick View</span></a></div>
                                                <div class="compare"><a href="#"><span>Compare</span></a></div>
                                                <div class="add-to-cart"><a href="#"><span>Add to cart</span></a></div>
                                            </div>
                                        </div>
                                        <div class="caption product-detail text-center">
                                            <h6 data-name="product_name" class="product-name mt_20"><a href="#"
                                                                                                       title="Casual Shirt With Ruffle Hem">New
                                                LCDScreen and HD Video Recording</a></h6>
                                            <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i
                                                        class="fa fa-star fa-stack-x"></i></span>
                                            </div>
                                            <span class="price"><span class="amount"><span
                                                    class="currencySymbol">$</span>70.00</span>
                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="brand_carouse" class="ptb_30 text-center">
            <div class="type-01">
                <div class="heading-part mb_10 ">
                    <h2 class="main_title">Brand Logo</h2>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="brand owl-carousel ptb_20">
                            <div class="item text-center"><a href="#"><img th:src="@{/images/brand/brand1.jpg}"
                                                                           alt="Disney"
                                                                           class="img-responsive"/></a></div>
                            <div class="item text-center"><a href="#"><img th:src="@{/images/brand/brand2.jpg}"
                                                                           alt="Dell"
                                                                           class="img-responsive"/></a></div>
                            <div class="item text-center"><a href="#"><img th:src="@{/images/brand/brand3.jpg}"
                                                                           alt="Harley"
                                                                           class="img-responsive"/></a></div>
                            <div class="item text-center"><a href="#"><img th:src="@{/images/brand/brand4.jpg}"
                                                                           alt="Canon"
                                                                           class="img-responsive"/></a></div>
                            <div class="item text-center"><a href="#"><img th:src="@{/images/brand/brand5.jpg}"
                                                                           alt="Canon"
                                                                           class="img-responsive"/></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="cartAdd" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add to cart!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <p id="addCart"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue shopping</button>
                        <a th:href="@{/cart/checkout}" class="btn btn-secondary">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =====  CONTAINER END  ===== -->
    <th:block th:include="common/footer"></th:block>
    <!-- =====  FOOTER END  ===== -->
</div>
<!--<div class="chatB">-->
<!--    <button class="open-chatbox" onclick="openForm()" id="chat">Chat</button>-->
<!--    <div class="Chatbox" id="chatBoxForm">-->
<!--        <form action="" class="form-container">-->
<!--            <h1><img th:src="@{/images/chatbox.jpg}" style="width:50px;height:50px"/>Chat with us</h1>-->
<!--            <label for="msg"><b>We are here to help you!</b></label>-->
<!--            <textarea placeholder="Input message..." id="msg" name="msg" required></textarea>-->
<!--            <button type="submit" class="btn">Send</button>-->
<!--            <button type="button" class="btn close-chatbox" onclick="closeForm()">Close</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
<!--<script>-->
<!--    /*Open chatbox*/-->
<!--    function openForm() {-->
<!--        document.getElementById("chatBoxForm").style.display = "block";-->
<!--        document.getElementById("chat").style.display = "none";-->
<!--    }-->

<!--    /*Close chat box*/-->
<!--    function closeForm() {-->
<!--        document.getElementById("chatBoxForm").style.display = "none";-->
<!--        document.getElementById("chat").style.display = "block";-->
<!--    }-->
<!--</script>-->
<a id="scrollup"></a>
<script th:src="@{/js/jQuery_v3.1.1.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script>

    $(document).ready(function () {
        $("#select-by-color").change(function () {
            getAmountOfProductAvailable();
        });

        $("#select-by-size").change(function () {
            getAmountOfProductAvailable();
        });

        $("#add-cart").click(function () {
            let data = {};
            data.productId = [[${product.getId()}]];
            data.productColorId = $("#select-by-color option:selected").val();
            data.productSizeId = $("#select-by-size option:selected").val();
            data.quantity = $("input[name='product_quantity']").val();
            $.ajax({
                url: "/cart/addCart",
                type: "GET",
                data: data,
                dataType: 'json',
                success: function (cartSize) {
                    if(cartSize > 0) {
                        $("#cart-size").text("(" + cartSize + ")");
                        document.getElementById("addCart").innerHTML= "Thêm thành công " + $("#product_quantity").val() +" " + document.getElementById("productName").innerHTML + " vào giỏ hàng!";
                    } else {
                        document.getElementById("addCart").innerHTML= "Không tồn tại sản phẩm!";
                    }
                    $('#cartAdd').modal();
                },
                error: function (XMLHttpRequest) {
                     document.getElementById("addCart").innerHTML= "Đã có lỗi xảy ra khi thêm sản phẩm!";
                     $('#cartAdd').modal();
                }
            });
        });
    });

    function getAmountOfProductAvailable() {
        let data = {};
        data.productId = [[${product.getId()}]];
        data.producColorId = $("#select-by-color option:selected").val();
        data.productSizeId = $("#select-by-size option:selected").val();
        $.ajax({
            url: "/product/getAmountOfProduct",
            type: "GET",
            data: data,
            dataType: 'json',
            success: function (quantity) {
                if(quantity > 0) {
                    $('#quantity_available').text(quantity);
                    $('input[name="product_quantity"]').attr('max', quantity);
                } else {
                    $('#quantity_available').text(0);
                    $('input[name="product_quantity"]').attr('max', 0);
                }

            },
            error: function (XMLHttpRequest) {
                $("#addCart").val("Đã có lỗi xảy ra khi lấy số lượng sản phẩm!");
                $('#cart').modal();
            }
        });
    }
</script>
</body>

</html>