<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>USER</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
    h1 {
      text-align:center;
    }






    </style>
</head>
<body>
<div class="container" style="padding: 10px">
    <th:block th:include="common/header_admin"></th:block>
    <h1>Danh sách người dùng</h1>
    <div class="container" style="text-align:center">
        <div class="card-block">
            <table id="tableUser" class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>USER ID</th>
                    <th>FULL NAME</th>
                    <th>BIRTHDAY</th>
                    <th>EMAIL</th>
                    <th>PHONE</th>
                    <th>ACTIVE</th>
                    <th>ROLE</th>
                    <th>ACTION</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user :${users}" th:if="${user.email}!=${session.user.getEmail()}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.fullName}"></td>
                    <td th:text="${user.birthday}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.phone}"></td>
                    <td th:if="${user.enabled}" style="color: green">Đang hoạt động</td>
                    <td th:unless="${user.enabled}" style="color: red">Đã khóa</td>
                    <td>
                        <div th:each="role: ${user.roles}">
                            <p th:text="${role.name}"></p>
                        </div>
                    </td>
                    <td th:each="role, state: ${user.roles}" th:if="${role.name}=='ROLE_USER' and ${state.size}==1">
                        <a th:href="@{/admin/find_user/{id}(id=${user.id})}" class="btn btn-primary rBtn" style="margin-bottom: 5px;">Cấp quyền</a>
                        <a th:if="${user.enabled}" th:href="@{/admin/find_user/{id}(id=${user.id})}" class="btn btn-danger lBtn">Khóa tài khoản</a>
                        <a th:unless="${user.enabled}" th:href="@{/admin/find_user/{id}(id=${user.id})}" class="btn btn-success oBtn">Mở tài khoản</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="capQuyen">
        <form action="" method="POST" id="capQuyenForm">
            <div class="modal fade" id="capQuyen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document" id="dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:green">
                            <h5 class="modal-title">Cấp quyền!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                Bạn có chắc muốn cấp quyền admin cho user này?
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                            <input type="submit" class="btn btn-success" value="Cấp" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="khoa">
        <form action="" method="POST" id="khoaForm">
            <div class="modal fade" id="khoa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document" id="dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:red">
                            <h5 class="modal-title">Khóa tài khoản!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                Bạn có chắc muốn khóa tài khoản này?
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                            <input type="submit" class="btn btn-danger" value="Khóa" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="mo">
        <form action="" method="POST" id="moForm">
            <div class="modal fade" id="mo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document" id="dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:green">
                            <h5 class="modal-title">Mở tài khỏan!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                Bạn có chắc muốn mở khóa tài khoản này?
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                            <input type="submit" class="btn btn-success" value="mỏ" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
     $(document).ready(function() {
        $('#tableUser').dataTable({});
     });

    $("body").on("click", ".rBtn", function(){
        event.preventDefault();
        var href = $(this).attr('href');

        $.get(href,function(user,status){
            document.getElementById('capQuyenForm').action = "/admin/cap_quyen?id="+user.id;
        });
        $('.capQuyen <div id="capQuyen"></div>').modal();
    });

    $("body").on("click", ".lBtn", function(){
        event.preventDefault();
        var href = $(this).attr('href');

        $.get(href,function(user,status){
            document.getElementById('khoaForm').action = "/admin/khoa?id="+user.id;
        });
        $('.khoa #khoa').modal();
    });

    $("body").on("click", ".oBtn", function(){
        event.preventDefault();
        var href = $(this).attr('href');

        $.get(href,function(user,status){
            document.getElementById('moForm').action = "/admin/mo?id="+user.id;
        });
        $('.mo #mo').modal();
    });

</script>
</body>
</html>

